<ion-view title="Adscripciones" id="page22">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <span style="color: #ff6600;">
          <strong>Adscripciones a Cátedras y Proyectos de Investigación</strong>
        </span>
      </p>
      <p>Las adscripciones a Cátedras y Proyectos de Investigación tienen carácter específico; por lo tanto, sólo podrán efectuarse en las Cátedras correspondientes (Art. 1 – Especificaciones).</p>
      <p>Para ser admitido como adscripto en Cátedras o Proyectos de Investigación, el aspirante deberá tener Título de Grado Universitario y tener fijado domicilio real en la Provincia de La Rioja (Art – 2 . Admisión)</p>
      <p>Las Adscripciones serán aprobadas por los respectivos Consejos Académicos Departamentales, o en su caso, por el Consejo de Investigaciones Científicas y Tecnológicas, CICYT. (Art – 3 Aprobación)</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>¿Pero como hago para aprobar algo, si no se por donde se tramita?&nbsp;</strong>
        </span>
      </p>
      <p>El trámite de adscripción se iniciará por medio de nota que el interesado deberá presentar, junto a las constancias de título y antecedentes, por Oficina de Mesa de Entradas al Consejo Académico del Departamento o CICYT, según correspondiere, debiéndose
        poner en conocimiento del Profesor Titular, en caso de cátedras, o del Director de Proyectos ,en caso de proyectos de investigación.</p>
      <p>Las solicitudes de adscripción deberán presentarse hasta el 31 de marzo y hasta el 5 de agosto de cada año para las cátedras y proyectos anuales y/o cuatrimestrales ,según corresponda (Art 5 – solicitud de adscripción)</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>¿A cuantas materias me puedo postular?&nbsp;</strong>
        </span>
      </p>
      <p>Cada aspirante no podrá presentarse a más de dos cátedras o proyectos de investigación (Art. 6 –Cantidad de postulaciones)</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>¿Cuanto tiempo debo estar en condición de adscripto?&nbsp;</strong>
        </span>
      </p>
      <p>La adscripción docente durará un mínimo de dos años consecutivos e improrrogables a partir del inicio del cuatrimestre (Art. 7 – Duración)</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>¿Cuál es mi función como docente adscripto dentro de la cátedra?</strong>
        </span>
      </p>
      <p>• Asistencia mínima del 80%(ochenta) de las clases desarrolladas por el Profesor Titular durante el primer año de adscripción; y un 50% (cincuenta) ,en el segundo año de adscripción.</p>
      <p>• Realizará, durante el desarrollo de las clases teóricas, las exposiciones que el Profesor Titular indique.</p>
      <p>• Finalizado el periodo correspondiente al segundo año de adscripción, deberá presentar dentro de los 6 (seis) meses de dicha fecha, una monografía o un trabajo de investigación y/o otras actividades que a juicio del profesor de la cátedra propenda
        a la formación del adscripto.</p>
      <p>• El adscripto a proyecto de investigación cumplirá un mínimo de 8 (ocho) horas semanales registradas fehacientemente. (Art. 8 – Obligaciones – Dedicaciones)</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>¿Debo cumplir con alguna condición académica?&nbsp;</strong>
        </span>
      </p>
      <p>El adscripto deberá cumplimentar con la asistencia y Aprobación de un Curso sobre :  Metodología de la Investigación: con Investigadores propuesto por el Área de Investigación  Metodologías de la Enseñanza: con Especialistas del Área de Educación
        de la UNLaR. Art. 8 y 9-</p>
      <p>El Adscripto deberá dictar 6 (seis) clases ,supervisadas por las autoridades de la Cátedra o Área afín, previo cumplimiento de lo requerido por las condiciones académicas anteriores. Art. 11 -Clases Supervisadas</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>¿Cómo concluye mi proceso de adscripción?</strong>
        </span>
      </p>
      <p>El Profesor Titular, en caso de cátedras y el Director del Proyecto, en el caso de proyectos de investigación, deberán presentar al respectivo Consejo un informe y evaluación anual sobre el desempeño y actividades del adscripto. (Art. 12 Evaluación
        Final)</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>¿Tengo constancia de que he terminado mi adscripción?</strong>
        </span>
      </p>
      <p>Al graduado se le otorgará una resolución del Consejo Académico que acredite el cumplimiento de su adscripción. En igual modo procederá el CICYT, quien reglamentará las otras condiciones que deban satisfacer los Adscriptos a Proyectos de Investigación.
        Art. 13 – (certificación)</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>¿En el periodo de mi adscripción, me pagan por las horas que estoy en clases o en proyectos de investigación?</strong>
        </span>
      </p>
      <p>El cumplimiento del presente régimen de adscripción no genera antigüedad en la Docencia Universitaria y por ende, el desempeño del adscripto es no remunerado Art. 14</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>¿El régimen de adscripción me sirve&nbsp;como antecedentes&nbsp;para mi&nbsp;CV?</strong>
        </span>
      </p>
      <p>El cumplimiento del presente régimen de Adscripción será objeto de valoración por parte de los jurados de Concursos de Título Antecedentes y Oposición, antes quienes’ debe obrar la Resolución dictada por el Consejo Académico respectivo. Art. 16</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>REQUISITOS:</strong>
        </span>
      </p>
      <p>*Nota dirigida al Decano Departamento (por Duplicado)
        <br>*Nota al Director de la Carrera
        <br>*Curriculum Vitae
        <br>*Copia de Certificado Analítico
        <br>*Copia de Título
        <br>*Copia de DNI 1° y 2° hoja</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/6amvdlYqRFibsmShny9h_BarraFinal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>