<ion-view title="Becas de Experiencia Laboral" id="page58">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/LQBiec6xTKasOIsAVpWP_BecasUNLaRBELredimensionado.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>Las Becas de Experiencia Laboral brindan&nbsp;posibilidades a los estudiantes avanzados de las distintas carreras, a modo de poder incorporarse en las distintas Áreas de la UNLaR y del Hospital de Clinicias Virgen Maria de Fatima.</p>
      <p></p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <a href-inappbrowser="https://becas.unlar.edu.ar/" id="becasDeExperienciaLaboral-button17" class="button button-energized button-block">Inscripción</a>
    <a href-inappbrowser="https://drive.google.com/file/d/1p5tPdzFpKetPUilP89D9MZm1qiil6rtK/view?usp=sharing" id="becasDeExperienciaLaboral-button23" class="button button-energized button-block">Reglamento Experiencia Laboral</a>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>