<ion-view title="Becas de Incentivo Académico" id="page57">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/QihI5BSLKqvkWMAUJfQJ_BecasUNLaRIncentivoredimensionado.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <p>Esta beca se trata del beneficio económico que brinda la UNLaR con la finalidad facilitar la continuación y permanencia de los estudiantes universitarios que cumplen con un buen nivel académico.</p>
    <div class="spacer" style="height: 20px;"></div>
    <a href-inappbrowser="https://becas.unlar.edu.ar/" id="becasDeIncentivoAcadMico-button21" class="button button-energized button-block">Inscripción </a>
    <a href-inappbrowser="https://drive.google.com/file/d/1BAgwaRgURCacS04UY7KcptYNd0WgQBNQ/view?usp=sharing" id="becasDeIncentivoAcadMico-button16" class="button button-energized button-block">Reglamento Incentivo Académico</a>
  </ion-content>
</ion-view>