<ion-view title="Becas Progresar" id="page63">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/bGPhBTuQ4CffxoPQz2Uk_Progresar2019.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <span style="color: #000000;">Desde el 1 de marzo al 31 del mismo mes se reabrirá la inscripción de las becas Progresar, </span>este es un programa de becas para estudiantes que están deseosos de terminar el colegio sin importar el nivel del mismo, pudiendo ser, primario,
        secundario, carrera universitaria o terciara, y por tal tarea el Estado Nacional brinda una ayuda económica mensual.</p>
      <p>Las Becas Progresar tienen un monto de $1600 a $4900 para estudiantes de&nbsp;
        <span style="color: #ff6600;">
          <strong>carreras universitarias o terciarias</strong>.</span>
      </p>
      <p>Las becas aumentan a medida que los estudiantes avanzan en sus carreras con montos especiales para fomentar el estudio de áreas estratégicas para el desarrollo nacional.</p>
      <p>Si ya sos estudiante avanzado de nivel superior y querés acceder a esta beca, deberás contar con al menos el 50% de las materias aprobadas según tu plan de estudio y tu año de cursada.</p>
      <p>Los estudiantes que reciben Progresar pero no alcancen la cantidad de materias necesarias podrán recibir durante 2019 una beca de $1600 como estímulo para alcanzar los requisitos.</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>Estímulo a la excelencia</strong>
        </span>
      </h4>
      <p>Quienes aprueben todas las materias de su año y mantengan promedio superior a 8 recibirán al año siguiente un reconocimiento económico equivalente a 10 cuotas de la beca percibida.</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>Áreas estratégicas</strong>
        </span>
      </h4>
      <p>Carreras comprendidas en las Ciencias Básicas, Ciencias Aplicadas y Enfermería que buscan que cada comunidad satisfaga necesidades profesionales puntuales para impulsar el desarrollo de áreas prioritarias que ayuden al progreso del país.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>En el caso de Educación Superior los pasos son los siguientes:</strong>
        </span>
      </p>
      <p>*Registrarse en la web de Beca Progresar en este link:&nbsp;
        <span style="color: #ff6600;">
          <a style="color: #ff6600;" href="https://www.argentina.gob.ar/becasprogresar" target="_blank" rel="noopener noreferrer">https://www.argentina.gob.ar/becasprogresar</a>
        </span>.</p>
      <p>*Una vez que te hayas registrado, se accederá a una plataforma interactiva en la que se podrán ver las carreras estratégicas de cada región.</p>
      <p>*Después de seleccionar la beca que sea de tu interés para la carrera que se desee realizar, tendrán que completar el formulario con los datos personales y académicos e ingresarlos en el sistema.</p>
      <h4>&nbsp;</h4>
      <p>
        <span style="color: #ff6600;">
          <strong>Requisitos de las Becas Progresar 2019</strong>
        </span>
      </p>
      <p>
        <strong>*Podrán acceder a las becas aquellas que tengan entre 18 y 24 años de edad para estudiantes ingresantes, y hasta los 30 para avanzados siempre y cuando se cumplan con los requisitos académicos y económicos.</strong>
      </p>
      <p>
        <strong>*Los ingresos del grupo familiar y la situación económica actualmente no se tienen en cuenta para el ingreso a la Beca, pero no podrán ser mayor a los 3 Salarios Mínimos, Vitales y Móviles (SMVM).</strong>
      </p>
      <p>
        <strong>*En el caso de que se viva solo o estar emancipado tendrán que efectuar una declaración jurada (DDJJ) en la Administración Nacional de la Seguridad Social (Anses) para que se actualicen los datos del grupo familiar.</strong>
      </p>
      <p>
        <strong>*No habrá más grupos prioritarios, se deberán cumplir todos los ingresos del grupo familiar.</strong>
      </p>
      <p>
        <strong>*Como siempre, se cobrara el ochenta por ciento del monto durante todo el año, el 20 por ciento restante se podrá percibir cuando se acrediten todos los controles académicos.</strong>
      </p>
      <p>Los aspirantes o interesados en acceder al cobro de la Beca Progresar 2019 tendrán que tener en cuenta que la&nbsp;
        <span style="color: #ff6600;">
          <strong>inscripción estará abierta desde el 1 hasta el 31 de Marzo de 2019</strong>
        </span>. El trámite se lleva a cabo por internet y para poder ingresar, en consecuencia, se tendrá que cumplir con los requisitos fundamentales de nacionalidad y de edad.</p>
    </div>
    <a href-inappbrowser="https://www.argentina.gob.ar/becasprogresar/educacionsuperior" id="becasProgresar-button20" class="button button-energized button-small button-block">Inscripción Progresar</a>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/9uCOjTf0Q1KE99outde5_GuiaProgresar2019redimensionado.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="https://play.google.com/store/apps/details?id=com.Ingeotec.GuiaProgresar19" id="becasProgresar-button43" class="button button-energized button-small button-block">Descarga aquí nuestra APP</a>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>