<ion-view title="Becas Deportivas y Culturales" id="page77">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/Br7ayIBoQP64jNMHbFcJ_BecasDeportivasyCulturales19.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <p>
      <strong>Si llevas a cabo una actividad deportiva o cultural, podes a las&nbsp;Becas Deportivas y Culturales.</strong>
    </p>
    <a href-inappbrowser="https://becas.unlar.edu.ar/" id="becasDeportivasYCulturales-button45" class="button button-energized button-block">Inscripción</a>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>