<ion-view title="Becas de Tutorías Académicas" id="page59">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <span style="color: #000000;">Son becas dependientes&nbsp;de la Secretaría de Asuntos Académicos de la Universidad Nacional de La Rioja,&nbsp;con una asignación mensual de $2.000 cada una.&nbsp;</span>
      </p>
      <p>
        <span style="color: #ff6600;">
          <em>*Próxima convocatoria Marzo-Abril 2019</em>
        </span>
      </p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Requisitos</strong>
        </span>
      </p>
      <p>
        <span style="color: #ff6600;">►</span>&nbsp;
        <strong>Estudiantes</strong>
      </p>
      <ul>
        <li>Tener el 60% de la carrera aprobada</li>
        <li>Ser alumno regular</li>
        <li>La nota de la materia a la cual se postule sea mayor a 7</li>
        <li>Nota de recomendación del docente a cargo de la cátedra en la que se postula.</li>
      </ul>
      <p>
        <span style="color: #ff6600;">►</span>&nbsp;
        <strong>Graduados</strong>
      </p>
      <ul>
        <li>Tener una antigüedad no mayor a 2 años de aprobada la ultima materia o trabajo final</li>
        <li>La nota de la materia a la cual se postule sea mayor a 7</li>
        <li>Nota de recomendación del docente a cargo de la cátedra en la que se postula.</li>
      </ul>
      <p>&nbsp;</p>
    </div>
    <a href-inappbrowser="https://drive.google.com/file/d/105QliNuYPM1GBcFNrbIYM-Ly16wmf43o/view?usp=sharing" id="becasDeTutorAsAcadMicas-button15" class="button button-energized button-block">Reglamento Tutorías Académicas</a>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>