<ion-view title="Beca Extensionista" id="page17">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/6RewKo5HRmujMAm6oTqU_BecasExtensionista19.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <p>
      <strong>Si sos parte de un proyecto de Extensión, podes inscribirte a la Beca Extensionista.</strong>
    </p>
    <a href-inappbrowser="https://becas.unlar.edu.ar/" id="becaExtensionista-button44" class="button button-energized button-block">Inscripción</a>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>