<ion-view title="Beneficios" id="page32" style="background-color:#FFA422;">
  <ion-content padding="true" class="has-header">
    <ion-list id="beneficios-list12">
      <ion-item class="item-icon-left dark" id="beneficios-list-item55" ui-sref="iNGEOTECUNLaR.convocatoriaBecas()">
        <i class="icon ion-ios-checkmark-outline"></i>Becas</ion-item>
      <ion-item class="item-icon-left dark" id="beneficios-list-item56" ui-sref="iNGEOTECUNLaR.comedorUniversitario()">
        <i class="icon ion-ios-checkmark-outline"></i>Comedor Universitario</ion-item>
      <ion-item class="item-icon-left dark" id="beneficios-list-item57" ui-sref="iNGEOTECUNLaR.bibliotecaCentral()">
        <i class="icon ion-ios-checkmark-outline"></i>Biblioteca Central</ion-item>
      <ion-item class="item-icon-left dark" id="beneficios-list-item58" ui-sref="iNGEOTECUNLaR.licenciaEstudiantil()">
        <i class="icon ion-ios-checkmark-outline"></i>Licencia Estudiantil</ion-item>
      <ion-item class="item-icon-left dark" id="beneficios-list-item59" ui-sref="iNGEOTECUNLaR.seguroEstudiantil()">
        <i class="icon ion-ios-checkmark-outline"></i>Seguro Estudiantil</ion-item>
      <ion-item class="item-icon-left dark" id="beneficios-list-item60" ui-sref="iNGEOTECUNLaR.redDeTrabajo()">
        <i class="icon ion-ios-checkmark-outline"></i>Red de Trabajo</ion-item>
      <ion-item class="item-icon-left dark" id="beneficios-list-item61" ui-sref="iNGEOTECUNLaR.museoUNLaR()">
        <i class="icon ion-ios-checkmark-outline"></i>Museo UNLaR</ion-item>
      <ion-item class="item-icon-left dark" id="beneficios-list-item62" ui-sref="iNGEOTECUNLaR.deporte()">
        <i class="icon ion-ios-checkmark-outline"></i>Deporte</ion-item>
      <ion-item class="item-icon-left dark" id="beneficios-list-item63" ui-sref="iNGEOTECUNLaR.salaDePrimerosAuxilios()">
        <i class="icon ion-ios-checkmark-outline"></i>Sala de Primeros Auxilios</ion-item>
    </ion-list>
  </ion-content>
</ion-view>