<ion-view title="Biblioteca Central" id="page34">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/qcWKSXMQ1S2cRUF4k26W_Biblioteca-Central.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>La
        <strong>
          <span style="color: #ff6600;"> biblioteca central, “Ángel María Vargas”</span>
        </strong>, se encuentra dentro del campus universitario, al costado del edificio del rectorado, la misma cuenta con bibliografía referente a todas las carreras que tiene la UNLaR.</p>
      <p>Atiende de
        <strong>lunes a viernes de 8 a 21 horas</strong> y ofrece servicios tales como préstamos por sistema manual, catálogo de consulta mixto, tanto manual como digitalizado, acceso a internet, préstamos interbibliotecarios y accesos a bases de datos.</p>
      <div>
        <p>Cuenta con dos salas, una parlante y otra silenciosa en donde los alumnos pueden estudiar y realizar trabajos.</p>
        <p>
          <strong>Es importante destacar que al convertirte en socio, no abonas nada.</strong>
        </p>
        <p>Los interesados en asociarse deben concurrir con fotocopia del DNI, fotocopia de la matrícula o libreta universitaria y dos (2) fotos carnet. De esta manera, podrás solicitar material de estudio por cuarenta y ocho (48) horas, en forma de préstamo.</p>
        <p>Sabías que además, mediante la Biblioteca Virtual puedes consultar el catálogo disponible desde cualquier teléfono móvil, ingresando al sitio web&nbsp;
          <a href="https://biblioteca.unlar.edu.ar">https://biblioteca.unlar.edu.ar</a>
        </p>
      </div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>