<ion-view title="Cambio de Plan de Estudios" id="page45">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <span style="color: #ff6600;">
          <strong>Requisitos Cambio de Plan</strong>
        </span>
      </p>
      <p>* Completar Formulario N° 7 y 9
        <br>* Nota al Sr. Secretario Asuntos Académicos de Rectorado
        <br>* Fotocopia Libreta Universitaria 1 y 2 hoja y Exámenes Finales.
        <br>* Fotocopia DNI.
        <br>* Inicio del Tramite de Expediente por Mesa de Entrada (U.N.La.R.) Rectorado Planta Baja</p>
    </div>
    <a href-inappbrowser="https://drive.google.com/file/d/1prWZDW-iz7GuEV1ywAgsPPLmcAcCT-wq/view?usp=sharing" id="cambioDePlanDeEstudios-button6" class="button button-energized button-block">Formularios N° 7 y 9</a>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/axS0ybQyRid7cgyjVblO_BarraFinal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>