<ion-view title="Cancelación de Matrícula" id="page46">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <span style="color: #ff6600;">
          <strong>Requisitos Cancelación de Matricula</strong>
        </span>
      </p>
      <p>* Completar Formulario
        <br>* Nota al Sr. Secretario Asuntos Académicos de Rectorado
        <br>* Fotocopia D.N.I.
        <br>* Fotocopia Libreta Universitaria 1, 2 y Finales
        <br>* Libre Deuda F.U.N.La.R.
        <br>* Libre Deuda Biblioteca
        <br>* Inicio del Tramite de Expediente por Mesa de Entrada (U.N.La.R.) Rectorado Planta Baja</p>
    </div>
    <a href-inappbrowser="https://drive.google.com/file/d/1XwlfU1dOFxPseE0xy3Q-YoOu4id60PyN/view?usp=sharing" id="cancelaciNDeMatrCula-button7" class="button button-energized button-block">Formulario</a>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/7HTNmQQTPCqiZSC3ZebB_BarraFinal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>