<ion-view title="Comedor Universitario" id="page33">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/vG2Q6bySzi4sqibMHHVh_Comedor-Universitario.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>El
        <strong>
          <span style="color: #ff6600;">Comedor Monseñor Enrique Angelelli</span>
        </strong>, ubicado en el quinto módulo de la Ciudad Universitaria tiene como objetivo brindar un menú de calidad a un precio accesible para todos los alumnos y becados de la UNLaR.</p>
      <p>El comedor universitario, dependiente de la Secretaría de Extensión Universitaria, abre sus puertas para los estudiantes desde las 12 hasta las 15 horas y la bandeja del menú está conformada por el plato principal, pan, postre y agua; con su correspondiente
        plato, cubiertos y vaso.</p>
      <p>El menú es ideado por una nutricionista semanalmente, quien lo diseña teniendo en cuenta los valores nutritivos y calóricos necesarios para una jornada estudiantil y se cambia, aproximadamente, cada 20 días.</p>
      <p>El comedor Enrique Angelelli permite que los estudiantes puedan acceder al menú por 10 pesos. El cupo máximo de estudiantes beneficiados día a día por este servicio es de 700 .</p>
      <p>Aquellos que van a comer por 10 pesos integran a todos los alumnos regulares e ingresantes, denominados activos; quienes deben presentarse en el comedor con la libreta universitaria (alumno regular) o constancia de ingreso (ingresante). Las personas
        que no presenten estos requisitos no accederán a este beneficio.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>