<ion-view title="Comisión  Ejecutiva" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/oFX1CyGSGWKzPRfO3abw_Logo-INGEOTEC-2.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/GbIKTkdeSWmYA66ihZkx_Comisionejecutiva.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>Luego de las elecciones estudiantiles celebradas el 8 de noviembre de 2018, consolidando a la agrupación
        <strong>+ Ideas</strong> como ganadores, los representantes estudiantiles electos asumieron su lugares en la conducción del Centro de Estudiantes INGEOTEC, representante de las carreras de Ingenierías Civil, Industrial, Agroindustrial, de Minas, en Alimentos
        y Agronomica, Geología y la Tec. en Electro-Electrónica.</p>
      <p>&nbsp;</p>
      <h4 style="text-align: center;">
        <strong>Comisión Ejecutiva</strong>
      </h4>
      <p style="text-align: center;">&nbsp;</p>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Presidenta</strong>
        </span>
      </h4>
      <p style="text-align: center;">Michelle Pavka</p>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Vicepresidenta</strong>
        </span>
      </h4>
      <p style="text-align: center;">Carla Romero</p>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Sec. General</strong>
        </span>
      </h4>
      <p style="text-align: center;">Lourdes Vargas</p>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Sec. de Finanzas</strong>
        </span>
      </h4>
      <p style="text-align: center;">José Rivera</p>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Sec. de Prensa y Difusión</strong>
        </span>
      </h4>
      <p style="text-align: center;">Silvina Lista</p>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Sec. de Asuntos Académicos y Estudiantiles</strong>
        </span>
      </h4>
      <p style="text-align: center;">Federico Mamaní</p>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Sec. de Extensión Universitaria y Deporte</strong>
        </span>
      </h4>
      <p style="text-align: center;">Sergio Luna</p>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Sec. de Acción Social y Deporte</strong>
        </span>
      </h4>
      <p style="text-align: center;">Daniela Gisele Díaz</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/24PzVdFaQoiTCaCm21a6_Slide01.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/SPUh0a3oTfeUDU3mtxzk_Slide03.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/VSAvBU6jTGaNzZ2nHRsg_Slide05.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/migF6EoaRYuZyy0qYDkj_Slide04.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>