<ion-view title="Convocatoria Becas" id="page61">
  <ion-content padding="true" style="background: url(img/TbxmwjtpSBCRiQtIK4gg_FondoApp.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/smnPvKYwSqWr8w1mYiLt_Logo-INGEOTEC-2.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="convocatoriaBecas-list15">
      <ion-item class="item-divider" id="convocatoriaBecas-list-item-divider5"> Becas Nacionales</ion-item>
      <ion-item class="item-icon-left item-icon-right energized" id="convocatoriaBecas-list-item93" ui-sref="iNGEOTECUNLaR.becasProgresar()">
        <i class="icon No Icon"></i>Progresar
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
      <ion-item class="item-divider" id="convocatoriaBecas-list-item-divider4"> Becas UNLaR</ion-item>
      <ion-item class="item-icon-left item-icon-right energized" id="convocatoriaBecas-list-item88" ui-sref="iNGEOTECUNLaR.becasDeIncentivoAcadMico()">
        <i class="icon No Icon"></i>Incentivo Académico
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right energized" id="convocatoriaBecas-list-item89" ui-sref="iNGEOTECUNLaR.becasDeExperienciaLaboral()">
        <i class="icon No Icon"></i>Experiencia Laboral
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right energized" id="convocatoriaBecas-list-item90" ui-sref="iNGEOTECUNLaR.becasTransporte()">
        <i class="icon No Icon"></i>Transporte
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
      <ion-item class="item-divider" id="convocatoriaBecas-list-item-divider8"> Becas de Investigación</ion-item>
      <ion-item class="item-icon-left item-icon-right energized" id="convocatoriaBecas-list-item95" ui-sref="iNGEOTECUNLaR.ayudanteInvestigador()">
        <i class="icon No Icon"></i>Ayudante Investigador
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right energized" id="convocatoriaBecas-list-item94" ui-sref="iNGEOTECUNLaR.preIniciaciNALaInvestigaciN()">
        <i class="icon No Icon"></i>Pre-iniciación a la investigación
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
      <ion-item class="item-divider" id="convocatoriaBecas-list-item-divider6"> Becas de Vinculacion</ion-item>
      <ion-item class="item-icon-left item-icon-right energized" id="convocatoriaBecas-list-item97" ui-sref="iNGEOTECUNLaR.vinculaciNTecnolGica()">
        <i class="icon No Icon"></i>Vinculación Tecnológica
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
      <ion-item class="item-divider" id="convocatoriaBecas-list-item-divider10"> Becas de Extensión</ion-item>
      <ion-item class="item-icon-left item-icon-right energized" id="convocatoriaBecas-list-item108" ui-sref="iNGEOTECUNLaR.becaExtensionista()">
        <i class="icon No Icon"></i>Estudiante Extensionista
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right energized" id="convocatoriaBecas-list-item109" ui-sref="iNGEOTECUNLaR.becasDeportivasYCulturales()">
        <i class="icon No Icon"></i>Deportivas y Culturales
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
      <ion-item class="item-divider" id="convocatoriaBecas-list-item-divider7"> Últimas Convocatorias</ion-item>
      <ion-item class="item-icon-left item-icon-right energized" id="convocatoriaBecas-list-item96" href-inappbrowser="http://www.ingeotec.tk/category/becas-2019/">
        <i class="icon No Icon"></i>Consulta Aquí
        <span class="item-note">Online</span>
        <i class="icon ion-android-arrow-dropright-circle"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>