<ion-view title="Corregir Datos Personales" id="page51">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <span style="color: #ff6600;">
          <strong>Requisitos para Corrección de Datos</strong>
        </span>
      </p>
      <p>* Completar Nota
        <br>* Fotocopia D.N.I.
        <br>* Fotocopia Partida de Nacimientos
        <br>* Fotocopia Libreta Universitaria o Constancia de Inscripción
        <br>* Inicio del Tramite de Expediente por Mesa de Entrada (U.N.La.R.) Rectorado Planta Baja</p>
    </div>
    <a href-inappbrowser="https://drive.google.com/file/d/1g1GLrKPrAFeow_zSX6vaB3oxydqaJaqb/view?usp=sharing" id="corregirDatosPersonales-button8" class="button button-energized button-block">Descargar Nota</a>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/Qn8HADhJTYmYYAIvR6fz_BarraFinal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>