<ion-view title="Deporte" id="page40">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/4rHwH286R7u2enjXoM8Q_deporte-1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>La UNLaR busca mejorar la salud y la calidad de vida y la formación integral de los miembros de la comunidad universitaria.</p>
      <p>Por eso distintas actividades deportivas como fútbol. básquet, vóley, hándbol, hockey, tenis, full contac, tenis de mesa, ajedrez, atletismo.</p>
      <h4>
        <span style="color: #ff6600;">Instalaciones</span>
      </h4>
      <p>La universidad cuenta con instalaciones deportivas completamente acondicionadas para la práctica del deporte, cancha de fútbol 11 iluminada por cuatro torres, cuatro canchas de tenis, una pista de atletismo con piso de tartan, además de toda la
        infraestructura para el atletismo, cancha de básquet, cancha de hándbol y de vóley.</p>
      <p>Además posee un Gimnasio completamente equipado para el trabajo de musculación.</p>
      <p>Para más información comunicarse al 0380-4457028/7146 o a&nbsp;
        <a href="mailto:secextensionunlar@gmail.com" target="_blank" rel="noopener">secextensionunlar@gmail.com</a>
      </p>
    </div>
  </ion-content>
</ion-view>