<ion-view title="Estatuto Universitario" id="page56">
  <ion-content padding="true" class="has-header">
    <p>La
      <strong>
        <span style="color: #ff6600;">Universidad Nacional de La Rioja</span>
      </strong> rige su funcionamiento, organización y gobierno a través del
      <strong>
        <span style="color: #ff6600;">Estatuto Universitario</span>
      </strong>, el cual puedes acceder a continuación, este es el documento vigente publicado en el Boletín Oficial de la República Argentina.</p>
    <div class="spacer" style="height: 20px;"></div>
    <a href-inappbrowser="https://drive.google.com/file/d/1FwwYKCE9kk9yhDBC1_FO71LCbajThtqA/view?usp=sharing" id="estatutoUniversitario-button14" class="button button-energized button-block">Estatuto Universitario</a>
  </ion-content>
</ion-view>