<ion-view title="Estudiantes" id="page28" style="background-color:#FFA422;">
  <ion-content padding="true" style="background: url(img/O6suvyvkRpS52k9a76oO_FondoApp.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/aXg9KAxtRFa2Vh3PjjOL_Logo-INGEOTEC-2.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="estudiantes-list11">
      <ion-item class="item-icon-left dark" id="estudiantes-list-item48" ui-sref="iNGEOTECUNLaR.beneficios()">
        <i class="icon ion-share"></i>Beneficios</ion-item>
      <ion-item class="item-icon-left dark" id="estudiantes-list-item49" ui-sref="iNGEOTECUNLaR.trMites()">
        <i class="icon ion-share"></i>Trámites</ion-item>
      <ion-item class="item-icon-left dark" id="estudiantes-list-item50" ui-sref="iNGEOTECUNLaR.reglamentos()">
        <i class="icon ion-share"></i>Reglamentos</ion-item>
      <ion-item class="item-icon-left dark" id="estudiantes-list-item51" ui-sref="iNGEOTECUNLaR.calendarioAcadMico()">
        <i class="icon ion-share"></i>Calendario Académico</ion-item>
      <ion-item class="item-icon-left dark" id="estudiantes-list-item52" ui-sref="iNGEOTECUNLaR.infoExMenesFinales()">
        <i class="icon ion-share"></i>Info Exámenes Finales</ion-item>
      <ion-item class="item-icon-left dark" id="estudiantes-list-item53" ui-sref="iNGEOTECUNLaR.eVAUNLaR()">
        <i class="icon ion-share"></i>EVA UNLaR</ion-item>
      <ion-item class="item-icon-left dark" id="estudiantes-list-item54" ui-sref="iNGEOTECUNLaR.sIU()">
        <i class="icon ion-share"></i>SIU</ion-item>
    </ion-list>
  </ion-content>
</ion-view>