<ion-view title="EVA UNLaR" id="page30">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/qwDoS911SKOOd0dqYalp_EvaUNLAR.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>
        <strong>
          <span style="color: #ff6600;">EVA UNLaR</span>
        </strong> es el Entorno Virtual de Aprendizaje de nuestra Universidad, basado en Moodle, en su Versión 3.02+.</p>
      <p>En este Campus virtual, utilizado como complemento de las Clases presenciales, se desarrollan las asignaturas correspondientes a cada carrera de Pre Grado, Grado y Posgrado de Unidad Académica, Sedes y Delegaciones. Incluye un espacio adicional
        para el desarrollo de las asignaturas y cursos que desarrolla el Colegio Pre Universitario San Martín.</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Problematicas al crear la cuenta</span>
        </strong>
      </p>
      <p>
        <span style="color: #000000;">Para los ingresantes que tienen problemas para ingresar al crear su cuenta en la plataforma EVA UNLaR, deben enviar un e-mail a
          <a href="mailto:dte.unlar@gmail.com">dte.unlar@gmail.com</a>&nbsp;y en breve se las estarán habilitando.</span>
      </p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <a href-inappbrowser="https://catedras.unlar.edu.ar/" id="eVAUNLaR-button2" class="button button-energized button-block">Ingreso EVA UNLaR</a>
  </ion-content>
</ion-view>