<ion-view title="Fechas de Colación" id="page23">
  <ion-content padding="true" class="has-header">
    <p>Según lo establecido en el
      <strong>
        <span style="color: #ff6600;">Calendario Académico 2019</span>
      </strong>, las fechas de colación para ese año son las siguientes:</p>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/rJGxqpJ9R8iSCBYBuFC7_Colaciones2019.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <p>
      <strong>
        <span style="color: #ff6600;">(*)</span>
      </strong>Los Actos de Colación de las Sedes y Delegaciones se acordarán según el nuevo "Procedimiento simplificado para la intervención de Diplomas, Certificados Analíticos y demás certificaciones universitarias" (Res, 231/18) del Ministerio de Educación,
      Cultura, Ciencia y Tecnología, entre la Secretaría de Asuntos Académicos y la Secretaría General conforme al número de Diplomas y Certificados Analíticos intervenidos que se tengan disponibles para entregar en coincidencia con la fecha del Aniversario
      de la Sede/ Delegación.</p>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/kUJun7IkQdGPL48pioXC_BarraFinal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>