<ion-view title="Graduados" id="page21" style="background-color:#FFA422;">
  <ion-content padding="true" style="background: url(img/Rg6afv2VTbWWDc1kG2ag_FondoApp.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/glNbD0qkQUmGPVs9IuJ9_Logo-INGEOTEC-2.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="graduados-list10">
      <ion-item class="item-icon-left dark" id="graduados-list-item42" ui-sref="iNGEOTECUNLaR.adscripciones()">
        <i class="icon ion-university"></i>Adscripciones</ion-item>
      <ion-item class="item-icon-left dark" id="graduados-list-item43" ui-sref="iNGEOTECUNLaR.fechasDeColaciN()">
        <i class="icon ion-university"></i>Fechas de Colación</ion-item>
      <ion-item class="item-icon-left dark" id="graduados-list-item44" ui-sref="iNGEOTECUNLaR.obraSocialGraduados()">
        <i class="icon ion-university"></i>Obra Social</ion-item>
      <ion-item class="item-icon-left dark" id="graduados-list-item45" ui-sref="iNGEOTECUNLaR.trMiteDeTTulo()">
        <i class="icon ion-university"></i>Trámite de Título</ion-item>
      <ion-item class="item-icon-left dark" id="graduados-list-item46" ui-sref="iNGEOTECUNLaR.proyectosDeExtensiN()">
        <i class="icon ion-university"></i>Proyectos de Extensión</ion-item>
      <ion-item class="item-icon-left dark" id="graduados-list-item47" ui-sref="iNGEOTECUNLaR.redDeTrabajo()">
        <i class="icon ion-university"></i>Red de Trabajo</ion-item>
    </ion-list>
  </ion-content>
</ion-view>