<ion-view title="Horario Agronómica" id="page69">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/LrujByXoSwSULwunrnqp_HORARIOSING.AGRONMICA1erC2019_001.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agronomica/" id="horarioAgronMica-button32" class="button button-energized button-block">Versión Online</a>
  </ion-content>
</ion-view>