<ion-view title="Horario Industrial" id="page73">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/w0LwkHU8TvSqBWJGxnlY_HORARIOINGENIERIAINDUSTRIAL2019final_001.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-industrial/" id="horarioIndustrial-button36" class="button button-energized button-block">Versión Online</a>
  </ion-content>
</ion-view>