<ion-view title="Horario Arquitectura" id="page76">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/mNrKywg8TAiWGFPg8T7t_Arq01.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/1SaEXXnFS1WXrMchUXQU_Arq02.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-arquitectura/" id="horarioArquitectura-button39" class="button button-energized button-block">Versión Online</a>
  </ion-content>
</ion-view>