<ion-view title="Horario Minas" id="page74">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/5M1qpItYQoHsrRHyKTPV_HorariosclasesPrimerCuatrimestreMinas2019final_001.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-de-minas/" id="horarioMinas-button37" class="button button-energized button-block">Versión Online</a>
  </ion-content>
</ion-view>