<ion-view title="Horario Alimentos" id="page71">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/P8g0AwxREmIuA5t7hv2w_HORARIO2019-1erCUATRIMESTRE-ALIMENTOS3.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-en-alimentos/" id="horarioAlimentos-button34" class="button button-energized button-block">Versión Online</a>
  </ion-content>
</ion-view>