<ion-view title="Horario Geología" id="page68">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/bDPB7hSrT8e4yywb2s7X_HorariosGeologa1erCuatrimestre2019.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-geologia/" id="horarioGeologA-button31" class="button button-energized button-block">Versión Online</a>
  </ion-content>
</ion-view>