<ion-view title="Horario Agroindustrial" id="page70">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/0E7DZLG5R2WwvkewnCnA_HorariosIngAgroIndustrial1erCuatrimestre2019_001.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-ing-agroindustrial/" id="horarioAgroindustrial-button33" class="button button-energized button-block">Versión Online</a>
  </ion-content>
</ion-view>