<ion-view title="Horario Electro-Electrónica" id="page75">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/p28ahV6oSyO88hPrN1nj_Horarios-TEE-2019final_001...png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="http://www.ingeotec.tk/horarios-1-cuatrimestre-tec-electro-electronica/" id="horarioElectroElectrNica-button38" class="button button-energized button-block">Versión Online</a>
  </ion-content>
</ion-view>