<ion-view title="Horarios 1° Cuatrimestre" id="page67">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/k7n0XUVfTr6ksPbJVtfB_primercuatrimestre19.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <p>
      <span style="color: #000000;">El lunes 11 de marzo inicia el 1° Cuatrimestre según&nbsp;lo establecido en el&nbsp;Calendario Académico. Desde ese día 11 de marzo y hasta el 23 del mismo mes, los estudiantes de años anteriores podrán inscribirse a través del&nbsp;SIU Guaraní&nbsp;a
        las materias de que deben cursar. Mientras que los estudiantes que ingresaron este 2019 no tendrán necesidad de hacerlo por ser su primer cuatrimestre, esto se hará automáticamente ya que la mayoría aún no esta cargado en el sistema&nbsp;SIU Guaraní.</span>
    </p>
    <ion-list id="horarios1Cuatrimestre-list16">
      <ion-item class="item-icon-left energized" id="horarios1Cuatrimestre-list-item99" ui-sref="iNGEOTECUNLaR.horarioGeologA()">
        <i class="icon ion-android-calendar"></i>Geología</ion-item>
      <ion-item class="item-icon-left energized" id="horarios1Cuatrimestre-list-item104" ui-sref="iNGEOTECUNLaR.horarioAgronMica()">
        <i class="icon ion-android-calendar"></i>Ing. Agronómica</ion-item>
      <ion-item class="item-icon-left energized" id="horarios1Cuatrimestre-list-item105" ui-sref="iNGEOTECUNLaR.horarioAgroindustrial()">
        <i class="icon ion-android-calendar"></i>Ing. Agroindustrial</ion-item>
      <ion-item class="item-icon-left energized" id="horarios1Cuatrimestre-list-item103" ui-sref="iNGEOTECUNLaR.horarioAlimentos()">
        <i class="icon ion-android-calendar"></i>Ing. en Alimentos</ion-item>
      <ion-item class="item-icon-left energized" id="horarios1Cuatrimestre-list-item102" ui-sref="iNGEOTECUNLaR.horarioCivil()">
        <i class="icon ion-android-calendar"></i>Ing. Civil</ion-item>
      <ion-item class="item-icon-left energized" id="horarios1Cuatrimestre-list-item101" ui-sref="iNGEOTECUNLaR.horarioIndustrial()">
        <i class="icon ion-android-calendar"></i>Ing. industrial</ion-item>
      <ion-item class="item-icon-left energized" id="horarios1Cuatrimestre-list-item106" ui-sref="iNGEOTECUNLaR.horarioMinas()">
        <i class="icon ion-android-calendar"></i>Ing. de Minas</ion-item>
      <ion-item class="item-icon-left energized" id="horarios1Cuatrimestre-list-item100" ui-sref="iNGEOTECUNLaR.horarioElectroElectrNica()">
        <i class="icon ion-android-calendar"></i>Tec. Electro-Electrónica</ion-item>
      <ion-item class="item-icon-left energized" id="horarios1Cuatrimestre-list-item98" ui-sref="iNGEOTECUNLaR.horarioArquitectura()">
        <i class="icon ion-android-calendar"></i>Arquitectura</ion-item>
    </ion-list>
  </ion-content>
</ion-view>