<ion-view title="Info Exámenes Finales" id="page29">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/oayF1y2dTMuW7rV9zF4s_Logo-INGEOTEC-2.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <strong>Para que puedas evitar dificultades durante las Mesas de Exámenes Finales, es importante que conozcas tus derechos como estudiante y recuerdes las cuestiones administrativas y académicas que te contamos a continuación y ante cualquier problemática
          te comuniques con nosotros.</strong>
      </p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Tenes 5 turnos de exámenes finales durante el año calendario</strong>
        </span>
        <br>&nbsp;
        <br>* Febrero-Marzo (3 llamados)
        <br>* Mayo (1 llamado)
        <br>* Julio-Agosto (2 llamados)&nbsp;
        <br>*&nbsp;Septiembre (1 llamado)
        <br>* Noviembre-Diciembre (2 llamado)
        <br>&nbsp;
        <br>Estas fechas se establecen a&nbsp;través&nbsp;del&nbsp;Calendario Académico, aprobado por el&nbsp;Consejo&nbsp;Superior en diciembre de cada año.
        <br>&nbsp;
        <br>Parciales la semana previa a los finales de Mayo-Septiembre La ordenanza 054/2015, establece que, ni durante los 7 días anteriores, ni durante la semana de exámenes finales&nbsp;de los turnos de mayo y de septiembre, no se pueden tomar exámenes
        parciales ni ningún otro tipo de evaluación.</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Regularidad</strong>
        </span>
        <br>&nbsp;
        <br>Un examen&nbsp;final puede rendirse regular o libre, en el caso de haber regularizado la materia, esta se mantiene&nbsp;durante dos años y un turno, te recomendamos rendir la materia lo antes posible para no tener problemas con la continuidad
        del plan de estudios. En el caso del examen libre, la mayoría&nbsp;de las materias de un plan de estudios permiten esta modalidad a excepción&nbsp;algunas que requieren practicas y trabajos de campo que no pueden evaluarse en una sola mesa de
        examen.</p>
      <hr>
      <p>
        <br>&nbsp;
        <br>
        <strong>
          <span style="color: #ff6600;">Condiciones&nbsp;para la&nbsp;inscripción</span>
        </strong>
        <br>&nbsp;
        <br>Te podrás inscribir a los exámenes finales correspondientes si se&nbsp;cumplís&nbsp;los siguientes requisitos:
        <br>&nbsp;
        <br>1- Haber entregado la documentación administrativa requerida (ingresantes), caso contrario se estará inhabilitado para inscribirse.
        <br>2- Hacerlo hasta 5&nbsp;días&nbsp;de antelación a la fecha de la mesa.
        <br>3- Haber aprobado las&nbsp;correlativas&nbsp;de la asignatura en la que se va a inscribir (se pueden consultar los planes de&nbsp;estudios la&nbsp;página web de tu carrera).</p>
      <p>Es responsabilidad de los estudiantes estar formalmente inscriptos en las asignaturas que cursan (deben aparecer en el acta de cursada respectiva). Los estudiantes que no estén correctamente inscriptos perderán dicha cursada, y por lo tanto no podrán
        rendir el examen de esa asignatura.</p>
      <hr>
      <p>
        <br>&nbsp;
        <br>
        <span style="color: #ff6600;">
          <strong>Inscripción a un&nbsp;examen</strong>
        </span>
        <br>&nbsp;
        <br>La&nbsp;inscripción&nbsp;debe realizarse por Internet a través del&nbsp;sistema&nbsp;SIU Guaraní, donde se encontrará la oferta de exámenes finales, es importante guardar el comprobante que te da el sistema por si fuere necesario, en caso de no
        figurar en el acta de la&nbsp;mesa examinadora&nbsp;el día&nbsp;de la evaluación.&nbsp;</p>
      <hr>
      <p>
        <br>
        <br>
        <strong>
          <span style="color: #ff6600;">Ingreso al sistema</span>
        </strong>
        <br>&nbsp;
        <br>Para estudiantes ingresantes, en la&nbsp;página del SIU&nbsp;deben seleccionar&nbsp;SEDE CAPITAL, luego colocar los datos de ingreso:
        <br>&nbsp;
        <br>
        <strong>Usuario</strong>: DNI (sin puntos)
        <br>&nbsp;
        <br>
        <strong>Contraseña</strong>: Unlar2015
        <br>&nbsp;
        <br>Para estudiantes de años anteriores deben ingresar su contraseña vigente. En el caso de no recordar la contraseña, esta puede recuperarse desde la opción:&nbsp;
        <br>&nbsp;
        <br>Olvidaste tu Clave? Click Aquí para Recuperarla</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">No me puedo inscribir al examen&nbsp;porque figuro en un acta previa</span>
        </strong>
        <br>&nbsp;
        <br>Querés inscribirte y el SIU te dice que no podes porque estas incluido en el acta de la mesa anterior, es un problema muy común y se debe a que aún no se han cargado las actas de la mesa anterior en la que te presentaste, es solo cuestión de esperar
        unas horas hasta que se actualice el sistema.</p>
      <hr>
      <p>
        <br>
        <br>
        <strong>
          <span style="color: #ff6600;">Superposición&nbsp;de mesas de examen</span>
        </strong>
        <br>&nbsp;
        <br>Es importante que sepas que no te pueden tomar más de un examen final en un mismo día. Para el caso en que el plan de estudio de la carrera excede seis materias o más del mismo año, deben tomarse los exámenes finales con un intervalo no menor
        a seis horas.</p>
      <hr>
      <p>
        <br>&nbsp;
        <br>
        <strong>
          <span style="color: #ff6600;">Para&nbsp;rendir&nbsp;un&nbsp;examen&nbsp;final</span>
        </strong>
        <br>&nbsp;
        <br>Siempre debes traer tu libreta universitaria o constancia de inscripción para poder rendir tu examen.
        <br>&nbsp;
        <br>Tribunal o dupla examinadora de tu mesa de examen Tu mesa de examen debe estar integrada por un tribunal compuesto por tres docentes que podrán ser:
        <br>&nbsp;
        <br>*Titular; asociado y/o adjunto
        <br>&nbsp;
        <br>Excepcionalmente podrá incluirse en la mesa:
        <br>&nbsp;
        <br>*Docente de cátedras afines y/o jefes de trabajos prácticos.</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Sobre el horario de inicio del&nbsp;examen</strong>
        </span>
        <br>&nbsp;
        <br>El docente que te avalúa&nbsp;puede tener una tardanza de hasta 30 minutos&nbsp;para dar inicio al examen final.</p>
      <hr>
      <p>
        <br>&nbsp;
        <br>
        <strong>
          <span style="color: #ff6600;">Si el docente falta a la mesa de examen</span>
        </strong>
        <br>&nbsp;
        <br>En el caso de que el docente falte a la mesa de examen, es el Decano quien&nbsp;deberá&nbsp;suspender laevaluación,&nbsp;fijar la&nbsp;próxima&nbsp;fecha siempre dentro del mismo turno y comunicar a la&nbsp;secretaría&nbsp;de asuntos&nbsp;estudiantiles.</p>
      <hr>
      <p>
        <br>&nbsp;
        <br>
        <span style="color: #ff6600;">
          <strong>Regularidad</strong>
        </span>
        <br>&nbsp;
        <br>Tu condición&nbsp;de alumno regular en la materia dura dos años y un turno contado desde la finalización del cursado de dicha materia.</p>
      <hr>
      <p>
        <br>&nbsp;
        <br>
        <strong>
          <span style="color: #ff6600;">La fecha de examen es feriado</span>
        </strong>
        <br>&nbsp;
        <br>Si se decreta feriado o asusto el&nbsp;día&nbsp;que te tocaba rendir, el examen se&nbsp;debería&nbsp;tomar el primer&nbsp;día&nbsp;hábil&nbsp;inmediato&nbsp;siguiente a la misma hora.</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Evaluación de exámenes&nbsp;finales</span>
        </strong>
        <br>&nbsp;
        <br>Los&nbsp;exámenes&nbsp;finales son&nbsp;públicos&nbsp;y deben ser receptados y calificados de forma individual&nbsp;desde exposiciones orales y/o escritas producidas por cada alumnos.</p>
      <hr>
      <p>
        <br>&nbsp;
        <br>
        <strong>
          <span style="color: #ff6600;">Te faltan 3 finales y querés pedir mesa especial para recibirte</span>
        </strong>
        <br>&nbsp;
        <br>Podes hacerlo por única vez, luego de que pasen 5 días hábiles desde la ultima fecha de exámenes del turno ordinario. Debe ser 15 días antes de la fecha establecida para la mesa ordinaria siguiente. Esto se realiza con nota dirigida al Decano,
        acompañando copia de DNI y libreta (1° y 2° hoja y finales.)</p>
      <hr>
      <p>&nbsp;</p>
    </div>
    <a ui-sref="iNGEOTECUNLaR.reglamentos()" id="infoExMenesFinales-button42" class="button button-energized button-small button-block button-outline">Reglamentos</a>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/T3Q2UfX6TCqKUSWimyKt_BarraFinal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>