<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-energized">
      <div class="title">INGEOTEC UNLaR</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <div>
        <img src="img/qL6MOVZTR2CUbYNGovlC_Logo-INGEOTEC-2.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="iNGEOTECUNLaR-list1">
        <ion-item class="item-icon-left energized" id="iNGEOTECUNLaR-list-item1" ui-sref="iNGEOTECUNLaR.inicio()" menu-close="">
          <i class="icon ion-home"></i>Inicio</ion-item>
        <ion-item class="item-icon-left energized" id="iNGEOTECUNLaR-list-item84" ui-sref="iNGEOTECUNLaR.ingresantes()" menu-close="">
          <i class="icon ion-android-contacts"></i>Ingresantes</ion-item>
        <ion-item class="item-icon-left energized" id="iNGEOTECUNLaR-list-item85" ui-sref="iNGEOTECUNLaR.estudiantes()" menu-close="">
          <i class="icon ion-document-text"></i>Estudiantes</ion-item>
        <ion-item class="item-icon-left energized" id="iNGEOTECUNLaR-list-item86" ui-sref="iNGEOTECUNLaR.graduados()" menu-close="">
          <i class="icon ion-university"></i>Graduados</ion-item>
        <ion-item class="item-icon-left energized" id="iNGEOTECUNLaR-list-item83" href-inappbrowser="http://www.ingeotec.tk/category/noticias/">
          <i class="icon ion-social-rss"></i>Noticias
          <span class="item-note">Online</span>
        </ion-item>
        <ion-item class="item-icon-left energized" id="iNGEOTECUNLaR-list-item2" ui-sref="iNGEOTECUNLaR.contactoINGEOTEC()" menu-close="">
          <i class="icon ion-social-whatsapp"></i>Contacto Ingeotec</ion-item>
        <ion-item class="item-icon-left energized" id="iNGEOTECUNLaR-list-item3" ui-sref="iNGEOTECUNLaR.acercaDeLaApp()" menu-close="">
          <i class="icon ion-ios-loop-strong"></i>Acerca de la App</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>