<ion-view title="Ingresantes" id="page5" style="background-color:#FFA422;">
  <ion-content padding="true" style="background: url(img/4Qnuv1Z0T5WJYSsfID0F_FondoApp.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/hVfhxMvERaeIzF6HfQ92_Logo-INGEOTEC-2.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="ingresantes-list8">
      <ion-item class="item-icon-left dark" id="ingresantes-list-item24" ui-sref="iNGEOTECUNLaR.planesDeEstudios()">
        <i class="icon ion-ios-compose-outline"></i>Planes de Estudio</ion-item>
      <ion-item class="item-icon-left dark" id="ingresantes-list-item25" ui-sref="iNGEOTECUNLaR.requisitosDeIngreso()">
        <i class="icon ion-ios-compose-outline"></i>Requisitos de Ingreso</ion-item>
      <ion-item class="item-icon-left dark" id="ingresantes-list-item27" ui-sref="iNGEOTECUNLaR.calendarioAcadMico()">
        <i class="icon ion-ios-compose-outline"></i>Calendario Académico</ion-item>
      <ion-item class="item-icon-left dark" id="ingresantes-list-item28" ui-sref="iNGEOTECUNLaR.mapaCiudadUniversitaria()">
        <i class="icon ion-ios-compose-outline"></i>Mapa Ciudad Universitaria</ion-item>
      <ion-item class="item-icon-left dark" id="ingresantes-list-item29" ui-sref="iNGEOTECUNLaR.horariosCursillo()">
        <i class="icon ion-ios-compose-outline"></i>Horarios Cursillo</ion-item>
      <ion-item class="item-icon-left dark" id="ingresantes-list-item82" ui-sref="iNGEOTECUNLaR.tutorAsIngreso()">
        <i class="icon ion-ios-compose-outline"></i>Tutorias 2019</ion-item>
      <ion-item class="item-icon-left dark" id="ingresantes-list-item87" ui-sref="iNGEOTECUNLaR.eVAUNLaR()">
        <i class="icon ion-ios-compose-outline"></i>EVA UNLaR</ion-item>
    </ion-list>
  </ion-content>
</ion-view>