<ion-view title="Inicio" hide-nav-bar="true" id="page1" style="background-color:#FFA422;">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/S4OLqpgaQYi0dX9BFj32_FondoApp.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/fdCvPufSHSRJugtXtDlu_Logo-INGEOTEC-2.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="inicio-list2">
      <ion-item class="item-icon-left dark" id="inicio-list-item4" ui-sref="iNGEOTECUNLaR.comisiNEjecutiva()">
        <i class="icon ion-android-arrow-dropup"></i>Comisión Ejecutiva</ion-item>
      <ion-item class="item-icon-left dark" id="inicio-list-item10" ui-sref="iNGEOTECUNLaR.ingresantes()">
        <i class="icon ion-android-arrow-dropup"></i>Ingresantes</ion-item>
      <ion-item class="item-icon-left dark" id="inicio-list-item11" ui-sref="iNGEOTECUNLaR.estudiantes()">
        <i class="icon ion-android-arrow-dropup"></i>Estudiantes</ion-item>
      <ion-item class="item-icon-left dark" id="inicio-list-item12" ui-sref="iNGEOTECUNLaR.graduados()">
        <i class="icon ion-android-arrow-dropup"></i>Graduados</ion-item>
      <ion-item class="item-icon-left dark" id="inicio-list-item13" href-inappbrowser="http://www.ingeotec.tk/category/noticias/">
        <i class="icon ion-android-arrow-dropup"></i>Noticias
        <span class="item-note">Online</span>
      </ion-item>
      <ion-item class="item-icon-left dark" id="inicio-list-item14" ui-sref="iNGEOTECUNLaR.contactoINGEOTEC()">
        <i class="icon ion-android-arrow-dropup"></i>Contacto INGEOTEC</ion-item>
      <ion-item class="item-icon-left dark" id="inicio-list-item15" ui-sref="iNGEOTECUNLaR.acercaDeLaApp()">
        <i class="icon ion-android-arrow-dropup"></i>Acerca de la App</ion-item>
    </ion-list>
    <a ui-sref="iNGEOTECUNLaR.horarios1Cuatrimestre()" id="inicio-button30" class="button button-positive button-block">Horarios 1° Cuatrimestre</a>
  </ion-content>
</ion-view>