<ion-view title="Licencia Estudiantil" id="page35">
  <ion-content padding="true" class="has-header">
    <div>
      <p>El&nbsp;
        <span style="color: #ff6600;">
          <strong>Régimen de licencia y justificaciones estudiantiles</strong>
        </span>&nbsp;fue aprobado por ordenanza del Consejo Superior en junio de 2015, y&nbsp;permite que los estudiantes que se vean imposibilitados de desarrollar normalmente sus actividades académicas (cursar, rendir exámenes, etc.) por alguna circunstancia
        personal, puedan solicitar licencia por diferentes causales.</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>LICENCIAS</strong>
        </span>
      </h4>
      <p>Todo estudiante de esta Casa de Altos Estudios tendrá la posibilidad de solicitar la Licencia en los casos que se mencionan a continuación:</p>
      <p>a) Embarazo, posparto y paternidad:</p>
      <p>1. Embarazo o posparto: A la estudiante, se le otorgarán cuarenta y cinco (45) días antes y cuarenta y cinco (45) días después del parto según lo aconseje el profesional interviniente.</p>
      <p>2. Paternidad: AI alumno varón por nacimiento de hijo, se le otorgará quince (15) días posteriores al parto.</p>
      <p>b) Eventos académicos, científicos, deportivos y culturales: Se le otorgará Licencia hasta que concluya dicho evento, es decir desde la fecha de inicio hasta la fecha de finalización del mismo. Siempre que el alumno participe en representación de
        la carrera que cursa, del Departamento Académico, Universidad, Sociedad, Provincia o País de origen.</p>
      <p>c) Trabajo registrado en el País, o bien en el exterior, y en éste caso, desde seis (6) meses hasta un (1) año.</p>
      <p>d) Actividades curriculares tales como, cursos, capacitaciones y/o conferencias, actividades de intercambio en Universidades o Instituciones de prestigio en el extranjero o en el territorio nacional por el plazo máximo de un (1) año. e) Accidentes,
        afecciones o lesiones de corto tratamiento: Para la atención de éstas, que inhabiliten para el desempeño académico del alumno, incluidas operaciones quirúrgicas menores, se concederá hasta cuarenta y cinco (45) días corridos de Licencia por año
        calendario en forma continua y discontinua.</p>
      <p>f) Accidentes, afecciones o lesiones de largo tratamiento: Para la atención de éstos, que inhabiliten el normal desempeño académico del alumno, incluidas operaciones quirúrgicas hasta un (1) año, en forma continua o discontinua.</p>
      <p>g) Enfermedades psíquicas, infectocontagiosas y recidivas de enfermedades crónicas: La Licencia será otorgada por el plazo que dure su tratamiento.</p>
      <p>h) Guarda con fines de adopción, atención de hijos menores, atención del grupo familiar, matrimonio, fallecimiento:</p>
      <p>1. Guarda con fines de adopción: A los alumnos que acrediten que se les ha otorgado la guarda de uno o más niños de hasta siete (7) años de edad con fines de adopción, se les concederán los mismos beneficios de licencia por maternidad y paternidad,
        a partir del día hábil siguiente al de haberse dispuesto la guarda. En lo referente a parejas en convivencia, previa acreditación de esta unión, sólo uno de sus miembros podrá hacer uso de la Licencia por ciento ochenta (180) días y el otro tomará
        los quince (15) días.</p>
      <p>2. Atención a hijos menores: El alumno que tenga hijos de hasta siete (7) años de edad, en caso de fallecer la madre/padre de los menores, tendrá derecho a treinta (30) días corridos de Licencia.</p>
      <p>3. Atención del grupo familiar: Para la atención de un miembro del grupo familiar que se encuentre enfermo o accidentado y requiera la atención personal del alumno, se le concederán hasta veinte (20) días corridos por año calendario, continuos o
        discontinuos de Licencia.</p>
      <p>4. Matrimonio: Se le otorgará Licencia por el término de diez (10) días hábiles al alumno que contraiga matrimonio a partir del acto civil.</p>
      <p>5. Fallecimiento: Por fallecimiento de un familiar ocurrido en el País o en el extranjero, los términos previstos comenzarán a contarse a partir del día producido el fallecimiento con arreglo a la siguiente escala:</p>
      <p>– 5.1. Del cónyuge o parientes consanguíneos en primer grado: siete (7) días hábiles.</p>
      <p>– 5.2. De parientes consanguíneos o segundo grado y afines de 1° a 2° grado: cinco (5) días hábiles.</p>
      <p>Para cualquier causal invocada, el periodo de Licencia no podrá superar los dos (2) años académicos, computados de manera continua o interrumpida, salvo en los casos contemplados en el inciso g) del presente Artículo. En el caso de contratos de
        Trabajo en el Exterior, no se podrán otorgar más de dos (2) licencias.</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>JUSTIFICACIONES&nbsp;</strong>
        </span>
      </h4>
      <p>a) Los Estudiantes que demuestren fehacientemente que trabajan tendrán derecho a la justificación de las inasistencias a sus obligaciones respectivas, por el término que defina el Acto Administrativo, emitido por el Decano respectivo.</p>
      <p>b) Los Estudiantes que cumplen funciones de Concejeros o Consiliarios en los órganos de gobierno de la UNLaR, en cumplimiento del mandato electivo pertinente, tendrán derecho a la justificación de las inasistencias a sus obligaciones respectivas,
        por el término consignado en los certificados emitidos por la autoridad del Órgano Colegiado al que pertenece.</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>Trámite</strong>
        </span>
      </h4>
      <p>1. Llenado de la Solicitud de Licencia Estudiantil o Justificación, que deberá retirar de la Secretaria de Asuntos Estudiantiles del Rectorado o en los Departamentos Académicos, Sedes o Delegaciones.</p>
      <p>2. Presentación de la Solicitud, en el Departamento Académico, Sede o Delegación a la cual pertenece, dirigida a la Secretaria de Asuntos Estudiantiles del Rectorado.</p>
      <p>3. Todo formulario de solicitud deberá ser acompañado por la certificación correspondiente.</p>
      <h4>
        <span style="color: #ff6600;">Requisitos Básicos</span>
      </h4>
      <p>* Fotocopia del Documento</p>
      <p>* Certificado de alumno regular o certificado de alumno inscripto</p>
      <p>* Certificado de trabajo (en caso de licencia por trabajo)</p>
      <p>* Constancia de participación (en caso de viajes o pasantias)</p>
      <p>* Análisis clínicos y certificado medico (en caso de enfermedad o accidente)</p>
      <p>* Certificado medico especificando fecha de parto (en caso de embarazo)</p>
      <p>&nbsp;</p>
    </div>
  </ion-content>
</ion-view>