<ion-view title="Museo UNLaR" id="page39">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/nUCwYOxjTLqHR39FKFkf_Banner-Museo-UNLaR.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <header class="entry-header">El horario de atención es de lunes a viernes de 8:00 a 12:00 por la mañana y de 16:00 a 20:00 por la tarde, su entrada es libre y gratuita y está abierto a visitas de docentes, estudiantes universitarios, secundarios y primarios; turistas, y a toda
        la comunidad que desee conocer muestras únicas y ser parte de nuestra historia.</header>
      <p>Para mayor información, los interesados deben comunicarse al teléfono 445-7035, por correo electrónico a:&nbsp;
        <span id="cloakb868f9ebb9acea2d9927f235455dc1cc">
          <a href="mailto:museo@unlar.edu.ar" target="_blank" rel="noopener">museo@unlar.edu.ar</a>
        </span>&nbsp;o por facebook a: MUSEO UNLAR.</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Una institución, cientos de historias</strong>
        </span>
      </p>
      <p>Con frecuencia nos asombramos de los descubrimientos científicos que se hacen eco a lo largo y ancho del mundo, sin percatarnos de que la ciencia no es algo lejano a nosotros. Nuestra tierra, no solo está pintada de riquezas inimaginables, sino
        que está dotada de innumerables historias que, a más de uno, dejarían con la boca abierta. La Universidad Nacional de La Rioja no es ajena a esta realidad, es más, cuenta con un espacio dotado de hallazgos que datan cientos de años de antigüedad.
        Además, es un lugar donde profesionales enriquecen su formación y dedican su vida a investigar los fenómenos que, en muchos casos, siguen siendo un misterio en la actualidad.</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Su origen y estructura</strong>
        </span>
      </p>
      <p>El Museo de Ciencias Antropológicas y Naturales nace en 1973 bajo el nombre de “Instituto Universitario de Arqueología, Antropología y Folklore”, perteneciente al Departamento de Investigación de la entonces Universidad Provincial de La Rioja. En
        1998 pasó a llamarse “Museo de Ciencias Naturales”, hasta que, por una iniciativa de los nuevos directivos de la actual gestión, adoptó el nombre que lleva hasta el día de hoy.</p>
      <p>Asimismo, este fascinante lugar cumple una doble función: por una parte es un museo, que consta de una sala de arqueología y otra de paleontología abiertas a todo público; y por otro lado, es un instituto donde el personal docente lleva a cabo tareas
        de investigación en el ámbito provincial, las cuales abarcan temas relacionados a la arqueología, la paleontología, la antropología y la sociología.</p>
      <p>En cuanto al espacio físico, los profesionales cuentan con un sector trasero donde se encuentran seis boxes de investigación, diversos laboratorios y una biblioteca, integrados por los trabajos de los investigadores y por el repositorio institucional.</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Exhibiciones más destacadas</strong>
        </span>
      </p>
      <p>En la sala de arqueología, el visitante puede encontrarse con material proveniente de proyectos desarrollados en Talampaya que fueron declarados patrimonio natural de la humanidad por la UNESCO mientras que, en la sala de paleontología, puede apreciar
        la colección de vertebrados fósiles recolectados en el mismo Parque Nacional y estudiados en la Universidad de Harvard, cuya donación le dio origen a los estudios de paleontología en la provincia.</p>
      <p>Mapas, gráficos, textos, vitrinas y paneles acompañan el recorrido por la historia de la Humanidad desde sus orígenes. Tanto los elementos arqueológicos, como los restos paleontológicos recuperados, son los materiales que evidencian el paso de civilizaciones
        antiguas por nuestra región; un claro ejemplo de esto son las exhibiciones prehispánicas que comprueban la presencia de poblaciones Diaguitas, como así también la de distintas sociedades que se diferencian temporal, geográfica y culturalmente.</p>
      <p>La Rioja es un territorio donde se encuentran fósiles de invertebrados, vertebrados y plantas que representan casi todos los períodos geológicos. Si bien las colecciones que se pueden apreciar en el Museo de Ciencias Antropológicas y Naturales no
        poseen restos de todos los sitios fosilíferos reconocidos de la provincia, si existe una muestra considerable de los más representativos, los cuales se encuentran ordenados en orden cronológico desde los más antiguos hasta los más modernos.</p>
      <p>
        <span style="color: #ff6600;">
          <strong>El Museo, su compromiso social y formación profesional</strong>
        </span>
      </p>
      <p>Es frecuente el hecho de que las personas consideren al museo como una institución apartada, lejana a nuestra realidad moderna, sin tomar en cuenta que se trata de exposiciones de nuestra historia, de una pequeña parte de lo que somos. Incluso,
        en muchas ocasiones funciona como un ámbito de interpelación que apoya los reclamos de la ciudadanía que surgen de heridas causadas por realidades sociales.</p>
      <p>Un ejemplo de esto fue la muestra denominada “Biografía interiores” que denotó una clara consciencia con respecto a los derechos humanos, a través de materiales confeccionados por ex presos políticos en la época del segundo golpe militar argentino.</p>
      <p>Asimismo, el museo impuso a su sala de conferencias el nombre de Roberto Díaz Romero, destacado investigador dedicado a la arqueología y miembro del instituto de ciencias en 1976, quien fue secuestrado y desaparecido durante la dictadura. De esta
        manera, y muchas más, la institución busca mantener activa la memoria de la humanidad.</p>
      <p>Todos los trabajos apuntan a lograr una mayor visibilidad del museo, a acompañar a la comunidad en cada uno de sus pasos y a crecer como institución. En los últimos años, se logró exteriorizar un notable avance a distintos niveles que permiten seguir
        adelante en el afán de perfeccionar este lugar que año a año acoge a nuevos profesionales egresados de la Universidad Nacional de La Rioja, como así también a estudiantes avanzados para que puedan desarrollar sus prácticas en las instalaciones.
        Generar espacios educativos destinados a distintos públicos es uno de los objetivos más próximos en los que se está trabajando.</p>
      <p>Constantemente, tanto los directivos, como el personal docente, no docente y profesionales involucrados, llevan adelante una ardua labor para mejorar la calidad del museo: cursos, talleres, ciclos de conferencias; todos forman parte de las capacitaciones
        que tienen como fin principal el acercar a la comunidad a estos ámbitos que son tan nuestros como la historia misma del país.</p>
      <p>Toda la comunidad universitaria de la Casa de Altos estudios tiene a su alcance un instituto que es líder en investigaciones a nivel provincial cuya formación es constante y accesible a todo interesado en esta particular vocación.</p>
    </div>
  </ion-content>
</ion-view>