<ion-view title="Obra Social Graduados" id="page24">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <span style="color: #ff6600;">
          <strong>¿Cómo afiliarme a OSUNLaR?</strong>
        </span>
      </p>
      <p>Los requisitos que el afiliado deberá presentar en el Área de Afiliaciones son los siguientes:</p>
      <p>*Fotocopia de DNI del titular y de los integrantes del grupo familiar, (los afiliados con hijos mayores de 21 años, deberán presentar certificado de alumno regular).
        <br>*Fotocopia de Partida de Nacimiento.
        <br>*Acta de matrimonio o certificado de convivencia.
        <br>*Último recibo de sueldo.
        <br>*Formulario de afiliación.</p>
      <p>
        <br>La inscripción se realiza por la obra social&nbsp;OSUNLaR.</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/xhxDxUaQqSTecgJhEMSg_logo-osunlar.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>