<ion-view title="Plan de Ing. Industrial" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 322/07</span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff0000;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">
          <u>Perfil Profesional</u>
        </span>
      </h4>
      <h4>
        <span style="color: #ff0000;">&nbsp;</span>
      </h4>
      <p>La Ingeniería Industrial tiene un enfoque integrador, el que enfatiza&nbsp;la máxima racionalidad en el uso de los recursos humanos, materiales,&nbsp;financieros y de información de una organización.</p>
      <p>Por lo tanto los profesionales de la misma deben poseer capacidad y&nbsp;habilidad para diseñar, planificar y controlar sistemas productores de&nbsp;bienes y servicios.&nbsp;</p>
      <p>El Ingeniero Industrial es un generalista del área funcional de&nbsp;producción en las empresas generadoras de bienes y servicio.</p>
      <p>Un genera lista es un profesional con capacidad para interpretar problemas&nbsp;de áreas de la empresa considerando simultáneamente todos los factores&nbsp;que afectan su diseño o funcionamiento, dando a cada factor la&nbsp;importancia relativa
        que realmente posee en un sistema que en la realidad&nbsp;es muy variado y complejo.&nbsp;</p>
      <p>Es competencia fundamental del Ingeniero Industrial la toma de&nbsp;decisiones y en consecuencia, las áreas de investigación y desarrollo que le&nbsp;interesan son el planeamiento estratégico, el control gerencial y el control&nbsp;operativo en
        organizaciones de todo tipo.&nbsp;</p>
      <p>&nbsp;Actúa en el diseño, tanto de un puesto de trabajo individual como en&nbsp;sistemas complejos incluyendo los de control de la producción, control de&nbsp;la calidad, de inventarios, etc.&nbsp;</p>
      <p>En el sector servicios su formación le permite el mejoramiento de&nbsp;sistemas que brinden servicios eficientes a costos razonables.&nbsp;</p>
      <p>Así, un rol insoslayable del Ingeniero Industrial es el de ayudar a las&nbsp;empresas a mejorar su eficiencia y productividad. El Ingeniero Industrial&nbsp;tiene una actitud crítica y flexible que le permiten actuar en situaciones con&nbsp;diversidad
        de factores interrelacionados, reconocer la necesidad de&nbsp;actualización permanente y trabajar en equipos interdisciplinarios.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <u>Alcances del Título</u>
        </span>
      </h4>
      <p>&nbsp;</p>
      <p>Corresponden al Ingeniero Industrial las siguientes actividades:</p>
      <ul>
        <li>Realizar estudios de factibilidad, proyectar, dirigir,&nbsp;implementar, operar y evaluar el proceso de producción de&nbsp;bienes industrializados y la administración de los recursos&nbsp;destinados a la producción de dichos bienes.&nbsp;</li>
      </ul>
      <ul>
        <li>Planificar y organizar plantas industriales y plantas de&nbsp;transformación de recursos naturales de bienes&nbsp;industrializados y servicios.&nbsp;</li>
      </ul>
      <ul>
        <li>Proyectar las instalaciones necesarias para el desarrollo de&nbsp;procesos productivos destinados a la producción de bienes&nbsp;industrializados y dirigir su ejecución y mantenimiento.&nbsp;</li>
      </ul>
      <ul>
        <li>Proyectar, implementar y evaluar el proceso destinado a la&nbsp;producción de bienes industrializados.&nbsp;</li>
      </ul>
      <ul>
        <li>Determinar las especificaciones técnicas y evaluar la&nbsp;factibilidad tecnológica de los dispositivos, aparatos y equipos&nbsp;necesarios para el funcionamiento del proceso destinado a la&nbsp;producción de bienes industrializados.&nbsp;</li>
      </ul>
      <ul>
        <li>Programar y organizar el movimiento y almacenamiento de&nbsp;materiales para el desarrollo del proceso productivo y de los&nbsp;bienes industrializados resultantes.&nbsp;</li>
      </ul>
      <ul>
        <li>Participar en el diseño de productos en lo relativo a la&nbsp;determinación de la factibilidad de su elaboración industrial.&nbsp;</li>
      </ul>
      <ul>
        <li>Determinar las condiciones de instalación y de funcionamiento&nbsp;que aseguren que el conjunto de operaciones necesarias para la&nbsp;producción y distribución de bienes industrializados se realice&nbsp;en condiciones de higiene y seguridad,
          como así también&nbsp;establecer las especificaciones de equipos, dispositivos y&nbsp;elementos de protección y controlar su utilización.&nbsp;</li>
      </ul>
      <ul>
        <li>Realizar la planificación, organización, conducción y control&nbsp;de gestión del conjunto de operaciones necesarias para la&nbsp;producción y distribución de bienes industrializados.&nbsp;</li>
      </ul>
      <ul>
        <li>Determinar la calidad y cantidad de los recursos humanos para&nbsp;la implementación y funcionamiento del conjunto de&nbsp;operaciones necesarias para la producción de bienes&nbsp;industrializados, evaluar su desempeño y establecer los&nbsp;requerimientos
          de capacitación.&nbsp;</li>
      </ul>
      <ul>
        <li>Efectuar la programación de los requerimientos financieros&nbsp;para la producción de bienes industrializados.&nbsp;</li>
      </ul>
      <ul>
        <li>Asesorar en lo relativo al proceso de producción de bienes&nbsp;industrializados y la administración de los recursos destinados&nbsp;a la producción de dichos bienes.&nbsp;</li>
      </ul>
      <ul>
        <li>Efectuar tasaciones y valuaciones de plantas industriales en lo&nbsp;relativo a: sus instalaciones y equipos, sus productos&nbsp;semielaborados y elaborados y las tecnologías de&nbsp;transformación utilizadas en la producción y distribución de&nbsp;bienes
          industrializados.&nbsp;</li>
      </ul>
      <ul>
        <li>Realizar arbitrajes y peritajes referidos a: la planificación y&nbsp;organización de plantas industriales, sus instalaciones y&nbsp;equipos, y el proceso de producción, los procedimientos de&nbsp;operación y las condiciones de higiene y seguridad
          en el&nbsp;trabajo, para la producción y distribución de bienes.</li>
      </ul>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/kyDdC89QTKiWo28IWd95_Ing.-Industrial.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>