<ion-view title="Plan de Ing. de Minas" id="page13">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 350/08</span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff0000;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">
          <u>Incumbencias profesionales del título de Ingeniero en Minas</u>
        </span>
      </h4>
      <p>&nbsp;</p>
      <p>A- Estudio, factibilidad, proyecto, dirección, inspección, construcción, operación y mantenimiento de:</p>
      <ol>
        <li>Obras de exploración y explotación de yacimientos minerales de todo tipo.</li>
        <li>Plantas de beneficio de dichas materias.</li>
        <li>Movimiento de rocas por medio de explosivos y maquinarias de obras civiles.</li>
      </ol>
      <p>B- Estudios, tareas y asesoramiento relacionado con :</p>
      <div>
        <ol>
          <li>Mecánica de rocas.</li>
          <li>Trabajos topográficos y geodésicos que fuere necesario ejecutar para la correcta materialización de las obras a que se refiere el párrafo A.</li>
          <li>Trabajos profesionales relacionados con la ubicación y ponderación de yacimientos.</li>
          <li>Mensuras mineras de yacimientos, concesiones de exploración y cateo y de explotación.</li>
          <li>Planeamiento del uso y administración de los recursos mineros.</li>
          <li>Asuntos de ingeniería legal, economía y financiera relacionada con los incisos anteriores.</li>
          <li>Arbitrajes, pericias y tasaciones relacionadas con los mismos.</li>
          <li>Policía minera, higiene y seguridad industrial y contaminación ambiental relacionados con los incisos anteriores.</li>
        </ol>
        <p>&nbsp;</p>
        <h4>
          <span style="color: #ff6600;">
            <u>Plan de Estudios de Ingeniería de Minas</u>
          </span>
        </h4>
      </div>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/Co9NEQ1UTmqINbuAvzCF_Plan-de-Estudios-Ing-de-Minas.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>