<ion-view title="Plan de Ing. Civil" id="page11">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 368/08</span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff0000;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff0000;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">
          <u>Perfil Profesional</u>
        </span>
      </h4>
      <p>Acorde con el tipo de formación que se quisiera lograr; se pretende&nbsp;que el futuro Ingeniero tenga las siguientes cualidades:</p>
      <ul>
        <li>Nivel científico y tecnológico, acorde a los requerimientos Profesionales&nbsp;actuales, de permanente innovación, perfeccionamiento y autoaprendizaje.</li>
        <li>Capacidad crítica y diagnóstica en lo Científico y Tecnológico.</li>
        <li>Fuerte conciencia social, fundamentada en una profunda cultura&nbsp;humanista, donde el concepto del Bien Común se convierta en norte&nbsp;permanente.</li>
        <li>Dotación de Adiestramientos empíricos, inherentes al “oficio” de la&nbsp;Ingeniería Civil.</li>
        <li>Fomento de la Iniciativa individual, en formulaciones específicas (Aptitud&nbsp;Gerencial y Empresaria, Conducción de Equipos Humanos, Integración a&nbsp;Emprendimientos en Decurso, etc.)</li>
        <li>Sólido perfil profesional; donde el uso eficaz de los criterios científicos,&nbsp;tecnológicos, económicos y financieros junto al desarrollo de la capacidad&nbsp;de Resolución de Problemas, sean el eje de su desempeño.</li>
        <li>Desarrollo de una conciencia ambiental, como eje distintivo; sabiendo que&nbsp;como actor privilegiado en la interacción con el medio natural su&nbsp;responsabilidad social en el tema es preponderante.</li>
        <li>Un fuerte acento en las relaciones interpersonales, donde se destaquen la&nbsp;responsabilidad, la solidaridad, pensamiento crítico, estratégico y&nbsp;prospectivo.</li>
      </ul>
      <p>&nbsp;</p>
      <p>Las competencias profesionales, se centrarán en:</p>
      <p>1. Concebir, analizar, diseñar, calcular y construir sistemas&nbsp;estructurales de manera segura, económica, confiable y durable.&nbsp;</p>
      <p>2. Concebir, analizar, diseñar, calcular y explotar soluciones viales y de&nbsp;transporte que permitan la integración física de regiones y comunidades,&nbsp;haciendo competitiva la movilización de personas y bienes.&nbsp;</p>
      <p>3. Concebir, analizar, diseñar, calcular, construir y determinar el uso y&nbsp;tratamiento del suelo, su respuesta a intervenciones externas y su&nbsp;relación con el entorno para contribuir a tener obras estables y seguras.</p>
      <p>4. Concebir, analizar y calcular la disponibilidad de los recursos&nbsp;hidráulicos y diseñar obras hidráulicas satisfactorias en términos&nbsp;técnicos, socioeconómicos, estáticos y medioambientales.&nbsp;</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <u>Alcances del Título</u>
        </span>
      </h4>
      <p>Corresponden al Ingeniero Civil las siguientes actividades:&nbsp;</p>
      <p>&nbsp;A) Estudio, factibilidad, proyecto, dirección, inspección, cálculo,&nbsp;construcción, operación mantenimiento y explotación de:</p>
      <ol>
        <li>Edificios, cualquiera sea su destino, con todas sus obras&nbsp;complementarias.</li>
        <li>Estructuras resistentes y obras civiles y de arte de todo tipo.</li>
        <li>&nbsp;Obras de regulación, captación y abastecimiento de agua.</li>
        <li>&nbsp;Obras de riego, desagüe y drenaje.</li>
        <li>&nbsp;Instalaciones hidromecánicas.</li>
        <li>&nbsp;Obras destinadas al aprovechamiento de la energía hidráulica.</li>
        <li>&nbsp;Obras de corrección y regulación fluvial.</li>
        <li>&nbsp;Obras destinadas al almacenamiento, conducción, y distribución&nbsp;de sólidos y fluidos.</li>
        <li>&nbsp;Obras viales y ferroviarias.</li>
        <li>&nbsp;Obras de saneamiento urbano y rural.</li>
        <li>&nbsp;Obras portuarias, incluso aeropuertos y todas relacionadas con la&nbsp;navegación fluvial, marítima y aérea.</li>
        <li>&nbsp;Obras de urbanismo en lo que se refiere al trazado, Planes&nbsp;Reguladores y organización de servicios públicos vinculados con la&nbsp;higiene, vialidad, comunicaciones y energía.</li>
        <li>&nbsp;Para todas las obras enunciadas en los incisos anteriores la&nbsp;prevención sísmica cuando correspondiere.</li>
      </ol>
      <p>&nbsp;</p>
      <p>B) Estudios, tareas y asesoramiento relacionado con:&nbsp;</p>
      <ol>
        <li>Mecánica de suelos y mecánica de rocas.&nbsp;</li>
        <li>Trabajos topográficos y geodésicos.</li>
        <li>Trabajos topográficos que fuere necesario ejecutar par el estudio,&nbsp;proyecto, dirección, inspección y construcción de obras a que se&nbsp;refiere el párrafo A.</li>
        <li>Planeamiento de sistema de transporte en general.</li>
        <li>Estudio de tránsito en rutas y ciudades.&nbsp;</li>
        <li>Planeamiento del uso y administración de los recursos hídricos.</li>
        <li>Estudios&nbsp;hidrológicos.</li>
        <li>Asuntos de Ingeniería Legal, Económica, Financiera y de&nbsp;Organización, relacionados con los mismos incisos anteriores.</li>
        <li>Arbitrajes, pericia y tasaciones relacionados con los mismos&nbsp;incisos anteriores.</li>
        <li>Higiene, seguridad y contaminación ambiental relacionados con&nbsp;los incisos anteriores.</li>
      </ol>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <u>Plan de Estudios de Ingeniería Civil</u>
        </span>
      </h4>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/YQDDlg8AR0Wm7faqhprG_Plan-de-estudios-de-Ing-Civil-e1538670351845.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>