<ion-view title="Planes de Estudios" id="page6" style="background-color:#FFA422;">
  <ion-content padding="true" style="background: url(img/gbRnx6uRD2PSpKcBff61_FondoApp.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/3MKcyRvzSt2tg5LGvvAw_Logo-INGEOTEC-2.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="planesDeEstudios-list9">
      <ion-item class="item-icon-right dark" id="planesDeEstudios-list-item33" ui-sref="iNGEOTECUNLaR.planDeGeologA()">Geología
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planesDeEstudios-list-item34" ui-sref="iNGEOTECUNLaR.planDeIngAgronMica()">Ing. Agronómica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planesDeEstudios-list-item35" ui-sref="iNGEOTECUNLaR.planIngAgroindustrial()">Ing. Agroindustrial
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planesDeEstudios-list-item36" ui-sref="iNGEOTECUNLaR.planDeIngEnAlimentos()">Ing. en Alimentos
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planesDeEstudios-list-item37" ui-sref="iNGEOTECUNLaR.planDeIngCivil()">Ing. Civil
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planesDeEstudios-list-item38" ui-sref="iNGEOTECUNLaR.planDeIngIndustrial()">Ing. Industrial
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planesDeEstudios-list-item39" ui-sref="iNGEOTECUNLaR.planDeIngDeMinas()">Ing. de Minas
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planesDeEstudios-list-item40" ui-sref="iNGEOTECUNLaR.planDeTecElectroElectrNica()">Tec. Electro-Electrónica
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="planesDeEstudios-list-item41" ui-sref="iNGEOTECUNLaR.planDeArquitectura()">Arquitectura
        <i class="icon ion-android-arrow-dropright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>