<ion-view title="Plan de Ing. Agronómica" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 373/08</span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff0000;">&nbsp;</span>
        <span style="color: #ff0000;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">&nbsp;
          <u>Perfil del Graduado</u>
        </span>
      </h4>
      <p>El Ingeniero Agrónomo egresado de la Universidad Nacional de La Rioja&nbsp;tiene un perfil generalista, con conocimientos propios de todas las áreas&nbsp;relacionadas con las ciencias agropecuarias y agroindustriales y capacidad&nbsp;para integrarlos
        en la resolución de los problemas profesionales que deba&nbsp;enfrentar. Para ello, posee:&nbsp;</p>
      <ul>
        <li>Conocimiento de principios fundamentales de Matemática, Física y&nbsp;Química.&nbsp;</li>
      </ul>
      <ul>
        <li>Conocimiento de conceptos y principios relacionados con el manejo de&nbsp;cada factor de la producción, analizado en profundidad dentro de cada una&nbsp;de las disciplinas básicas (Fisiología, Biología, Suelos, Agua, Clima,&nbsp;Economía y Sociología).&nbsp;</li>
      </ul>
      <ul>
        <li>Conocimiento de principios y leyes ecológicos para la conservación de los&nbsp;recursos naturales y el ambiente.&nbsp;</li>
      </ul>
      <ul>
        <li>Conocimiento de principios fundamentales de manejo de cada uno de los&nbsp;cultivos de la región, enfocados desde el punto de vista de los problemas&nbsp;científico tecnológicos que se presentan y sus posibles soluciones.&nbsp;</li>
      </ul>
      <ul>
        <li>Conocimiento de los principios rectores en la economía y administración&nbsp;agrarias y de la legislación vigente relacionada con la especialidad.&nbsp;</li>
      </ul>
      <ul>
        <li>Conocimiento de principios básicos en administración de recursos&nbsp;humanos, manejo de personal y extensión agraria.&nbsp;</li>
      </ul>
      <ul>
        <li>Conocimiento de principios de transferencia de tecnología y políticas de&nbsp;desarrollo rural.&nbsp;</li>
      </ul>
      <ul>
        <li>Capacidad para programar, conducir y evaluar el proceso tecnológico de&nbsp;la producción agropecuaria y agroindustrial.&nbsp;</li>
      </ul>
      <ul>
        <li>Capacidad para elegir las alternativas productivas más convenientes en&nbsp;cada situación de mercado y buscar el paquete tecnológico más adecuado.&nbsp;</li>
      </ul>
      <ul>
        <li>Capacidad para diagnosticar, juzgar y sintetizar información, organizando&nbsp;la producción de acuerdo a un esquema correcto de prioridades técnicas,&nbsp;económicas y sociales.&nbsp;</li>
      </ul>
      <ul>
        <li>Capacidad para adaptarse a los cambios rápidos de tecnología productiva.</li>
      </ul>
      <ul>
        <li>Actitud conservacionista, al considerar en la producción los principios&nbsp;básicos del equilibrio ecológico.</li>
      </ul>
      <ul>
        <li>Capacidad de investigar y desarrollar nuevas tecnologías.</li>
      </ul>
      <ul>
        <li>Capacidad para dirigir personal y administrar adecuadamente los recursos&nbsp;humanos de la empresa o institución.</li>
      </ul>
      <ul>
        <li>Capacidad para comunicarse y transferir la tecnología al hombre de&nbsp;campo y a la industria.</li>
      </ul>
      <ul>
        <li>Capacidad para elaborar y ejecutar políticas agrarias, en especial las&nbsp;relacionadas con el desarrollo rural.</li>
      </ul>
      <ul>
        <li>Responsabilidad y conducta ética en el ejercicio de la profesión.</li>
      </ul>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <u>Alcance del Título</u>
        </span>
      </h4>
      <p>&nbsp;
        <br>Las actividades profesionales reservadas al título de Ingeniero Agrónomo&nbsp;son las siguientes:</p>
      <p>1. Programar, ejecutar y evaluar la multiplicación, introducción,&nbsp;mejoramiento, adaptación y conservación de especies vegetales con fines&nbsp;productivos, experimentales u ornamentales.&nbsp;
        <br>&nbsp;
        <br>2. Determinar, clasificar, inventariar y evaluar los recursos vegetales a los&nbsp;efectos de su aprovechamiento, reproducción y conservación de la&nbsp;diversidad biológica.&nbsp;</p>
      <p>3. Programar, ejecutar y evaluar la producción, mantenimiento,&nbsp;conservación y utilización de recursos forrajeros en función de la&nbsp;producción animal.&nbsp;</p>
      <p>4. Programar, ejecutar y evaluar la implantación de especies vegetales en&nbsp;distintos espacios, de acuerdo con las características, función y destino de&nbsp;los mismos, y determinar las condiciones de manejo de dichas especies.&nbsp;</p>
      <p>5. Programar, ejecutar y evaluar la implantación de especies vegetales, en&nbsp;proyectos de parques, jardines, campos deportivos y recreativos, y demás&nbsp;espacios verdes.&nbsp;
        <br>&nbsp;
        <br>6. Participar en la elaboración de proyectos de parques, jardines, campos&nbsp;deportivos y recreativos y demás espacios verdes.&nbsp;</p>
      <p>7. Programar, ejecutar y evaluar estudios y análisis de suelos yaguas con&nbsp;fines agropecuarios, forestales y paisajísticos.&nbsp;</p>
      <p>8. Programar, ejecutar y evaluar estudios y análisis de productos vegetales,&nbsp;sus derivados, insumos de uso agropecuario y residuos del mismo origen.&nbsp;</p>
      <p>9. Controlar y administrar las cuencas, los sistemas de riego y drenaje para&nbsp;uso agropecuario y forestal, evaluar eventuales daños provocados por la&nbsp;erosión hídrica y determinar los cánones de riego.&nbsp;</p>
      <p>10. Participar en la programación, ejecución y evaluación del manejo del&nbsp;agua y su conservación, para determinar los posibles caudales de uso&nbsp;evitando su contaminación y/o agotamiento.&nbsp;</p>
      <p>11. Realizar relevamiento de suelos y programar, ejecutar y evaluar&nbsp;métodos de conservación, manejo, recuperación y habilitación de los&nbsp;mismos con fines agropecuarios, forestales y paisajísticos.&nbsp;</p>
      <p>12. Establecer y evaluar la capacidad agronómica del suelo; elaborar sobre&nbsp;la base de las mismas propuestas de parcelamiento incluyendo criterios de&nbsp;impacto ambiental y participar en la determinación de la renta bajo distintas&nbsp;condiciones
        de uso y productividad.&nbsp;</p>
      <p>13. Participar en la determinación de unidades económicas agrarias, en el&nbsp;fraccionamiento de inmuebles rurales, y en la confección de catastros&nbsp;agrarios y de recursos naturales.&nbsp;</p>
      <p>14. Programar, ejecutar y evaluar la prevención y control de los factores&nbsp;bióticos y abióticos que afectan la producción agropecuaria y forestal.&nbsp;</p>
      <p>15. Programar, ejecutar y evaluar técnicas de control de los factores&nbsp;climáticos que inciden en la producción agropecuaria y forestal.&nbsp;</p>
      <p>16. Realizar estudios orientados a la evaluación de las consecuencias que&nbsp;pueda provocar fenómenos naturales (inundaciones, sequías, vientos,&nbsp;heladas, granizo y otros) a los efectos de la determinación de primas de&nbsp;seguros o estimación
        de daños.&nbsp;</p>
      <p>17. Participar en estudios de caracterización climática a fin de evaluar su&nbsp;incidencia en la producción agropecuaria y forestal.&nbsp;</p>
      <p>18. Programar, ejecutar y evaluar el ordenamiento, desmonte y raleo de&nbsp;formaciones vegetales.&nbsp;</p>
      <p>19. Determinar las características, tipificar, fiscalizar y certificar calidad,&nbsp;pureza y sanidad de: a) semillas y otras formas de propagación vegetal; b)&nbsp;plantas transgénicas; c) productos y subproductos agropecuarios y&nbsp;forestales.&nbsp;</p>
      <p>20. Determinar las condiciones de almacenamiento, conservación,&nbsp;tratamiento sanitario y transporte de granos, forrajes, frutos, semillas y&nbsp;otros productos vegetales.&nbsp;</p>
      <p>21. Programar, ejecutar y evaluar la formulación, certificación de uso,&nbsp;comercialización, expendio y aplicación de agroquímicos, recursos&nbsp;biológicos, recursos biotecnológicos, fertilizantes y enmiendas destinadas&nbsp;al uso agropecuario
        y forestal, por su posible perjuicio a la integridad y&nbsp;conservación del suelo y el ambiente.&nbsp;</p>
      <p>22. Asesorar en la elaboración, almacenamiento, conservación y transporte&nbsp;de agroquímicos, recursos biológicos, recursos biotecnológicos,&nbsp;fertilizantes y enmiendas destinadas al uso agropecuario y forestal.&nbsp;</p>
      <p>23. Programar, ejecutar y evaluar el uso de instalaciones rurales, máquinas&nbsp;y herramientas agrícolas por su posible perjuicio a la integridad y&nbsp;conservación del suelo y el ambiente.&nbsp;</p>
      <p>24. Asesorar en el diseño de las instalaciones rurales, máquinas y&nbsp;herramientas agrícolas.&nbsp;</p>
      <p>25. Programar, ejecutar y evaluar la utilización de técnicas agronómicas, en&nbsp;el manejo, conservación, preservación y saneamiento del ambiente, y en el&nbsp;control y prevención de las plagas que afectan el ambiente humano.&nbsp;</p>
      <p>26. Realizar estudios, diagnósticos, evaluaciones y predicciones referidos a&nbsp;la producción agropecuaria y forestal a distintos niveles: local,&nbsp;departamental, provincial, nacional o regional.&nbsp;</p>
      <p>27. Programar, ejecutar y evaluar acciones de información, difusión y&nbsp;transferencia de tecnologías destinadas a la producción agropecuaria y&nbsp;forestal.&nbsp;</p>
      <p>28. Organizar, dirigir, controlar y asesorar establecimientos destinados a la&nbsp;producción agropecuaria y forestal.&nbsp;</p>
      <p>29. Organizar, dirigir, controlar y asesorar establecimientos destinados al&nbsp;mejoramiento, multiplicación y producción vegetal.&nbsp;</p>
      <p>30. Participar en la organización, dirección, control y asesoramiento de&nbsp;establecimientos destinados al mejoramiento, multiplicación y producción&nbsp;animal.&nbsp;</p>
      <p>31. Participar en la realización de estudios e investigaciones destinadas a la&nbsp;nueva producción y adaptación de especies animales a los efectos del&nbsp;mejoramiento de la producción agropecuaria.&nbsp;</p>
      <p>32. Organizar y dirigir parques y jardines botánicos, programando,&nbsp;ejecutando y evaluando el mantenimiento y utilización de las especies y&nbsp;formaciones vegetales que integran las poblaciones y reservas naturales.&nbsp;
        <br>&nbsp;
        <br>33. Participar en la programación y poner en ejecución, las normas&nbsp;tendientes a la conservación de la flora y la fauna, preservando la&nbsp;biodiversidad y el patrimonio genético existente.&nbsp;</p>
      <p>34. Participar en la programación, ejecución y evaluación de proyectos de&nbsp;turismo rural y ecoturismo.&nbsp;</p>
      <p>35. Programar, ejecutar y evaluar estudios destinados a determinar las&nbsp;formas de aprovechamiento de los diferentes recursos con uso agropecuario&nbsp;y forestal.&nbsp;</p>
      <p>36. Participar en la realización de estudios referidos al impacto ambiental&nbsp;de obras que impliquen modificaciones en el medio rural.&nbsp;</p>
      <p>37. Participar en la determinación de las condiciones del trabajo rural y&nbsp;asesorar en la en la adecuación de las mismas en función de criterios de&nbsp;eficiencia y calidad de vida.&nbsp;</p>
      <p>38. Programar, ejecutar y evaluar acciones relativas a la conservación y&nbsp;manejo del suelo, agua y recursos vegetales con fines agropecuarios y&nbsp;forestales.&nbsp;</p>
      <p>39. Participar en la elaboración de planes, políticas y normas relativas a la&nbsp;conservación y manejo del suelo, agua y recursos vegetales, y a la&nbsp;producción agropecuaria, forestal y agrosilvopastoril.&nbsp;</p>
      <p>40. Participar en la identificación, formulación y evaluación de proyectos&nbsp;de inversión y/ o de desarrollo rural.&nbsp;</p>
      <p>41. Participar en la programación, ejecución y evaluación de políticas&nbsp;rurales, planes de colonización y programas de desarrollo rural.&nbsp;</p>
      <p>42. Programar y ejecutar valuaciones, peritajes, arbitrajes y tasaciones de&nbsp;plantaciones, formaciones vegetales naturales, unidades de producciones&nbsp;agropecuarias y forestales, sus mejoras fundiarias y los elementos afectados&nbsp;a la
        misma.&nbsp;</p>
      <p>43. Programar, ejecutar y evaluar arbitrajes y peritajes que impliquen&nbsp;determinaciones acerca de: a) calidad, pureza y sanidad de especies,&nbsp;órganos vegetales, productos forestales y productos y subproductos&nbsp;agropecuarios; b) capacidad
        agronómica del suelo; c) la producción y&nbsp;productividad agropecuaria y forestal; d) daños y perjuicios ocasionados,&nbsp;por causas naturales o malas prácticas, a los diferentes recursos y&nbsp;elementos que integran la producción agropecuaria
        y forestal.&nbsp;</p>
      <p>44. Programar, ejecutar y evaluar acciones relativas al manejo de pastizales&nbsp;naturales, sistemas silvopastoriles y agrosilvopastoriles.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>Plan de Estudios de Ingeniería Agronómica</u>
          </strong>
        </span>
      </h4>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/RZvyp1yXQkWFD2khtxvK_Ing.-Agronomica1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/xrAXLP3HRHG4pBBWtBWz_Ing.-Agronomica2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>