<ion-view title="Plan de Arquitectura" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>ORDENANZA Nº: 325/07</strong>
        </span>
      </h4>
      <hr>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <u>
            <strong>Alcances del Titulo</strong>
          </u>
        </span>
      </h4>
      <div>
        <strong>&nbsp;</strong>
      </div>
      <div>El&nbsp;arquitecto,&nbsp;es el profesional formado para diseñar, proyectar, calcular, dirigir y&nbsp;ejecutar la concreción de los espacios destinados al hábitat humano, desarrollando capacidades y valores que le permitan ejercer la profesión desde
        una formación generalista y equilibrada de la disciplina, cuyo título de reconocimiento oficial certifica la formación académica recibida, y habilita para el ejercicio profesional respectivo en todo el territorio nacional de la República Argentina,
        sin perjuicio del poder de policía sobre las profesiones que corresponde a las provincias. De este modo podrá desarrollar consecuentemente en forma autónoma tareas de programación, planificación, proyecto, cálculo, dirección, producción, gestión,
        asesoramiento, mantenimiento y equipamiento, referidos a la arquitectura, entendida ésta en su más amplia acepción, en todas sus dimensiones y escalas de actuación, incluida la territorial, así como integrar equipos para abordar las mismas actividades
        u otras de mayor complejidad o que requieran niveles de interdisciplinariedad.</div>
      <div>&nbsp;</div>
      <div>En este marco, los egresados de la presente propuesta formativa, podrán:</div>
      <div>
        <ul>
          <li>Diseñar, proyectar, dirigir y ejecutar la concreción de los espacios destinados al hábitat humano.</li>
        </ul>
        <ul>
          <li>Proyectar, dirigir y ejecutar la construcción de edificios, conjuntos de edificios y los espacios que ellos conforman, con su equipamiento, infraestructura y de otras obras destinadas al hábitat humano.</li>
        </ul>
        <ul>
          <li>Proyectar, calcular y dirigir y ejecutar la construcción de estructuras resistentes correspondientes a obras de Arquitectura.</li>
        </ul>
        <ul>
          <li>Proyectar, calcular y dirigir y ejecutar la construcción de instalaciones complementarias correspondientes a obras de Arquitectura, excepto cuando la especificidad de ellas implique la intervención de las ingeniarías.</li>
        </ul>
        <ul>
          <li>Proyectar, dirigir y ejecutar obras de recuperación, renovación, rehabilitación y re funcionalización de edificios, conjuntos de edificios y otros espacios destinados al hábitat humano.</li>
        </ul>
        <ul>
          <li>Diseñar, proyectar, dirigir y ejecutar la construcción del equipamiento interior y exterior, fijo y móvil, estinado al hábitat humano, incluyendo los habitáculos para el transporte de personas.</li>
        </ul>
        <ul>
          <li>Diseñar, proyectar y efectuar el control técnico de componentes y materiales destinados a la, construcción de obras de arquitectura.</li>
        </ul>
        <ul>
          <li>Programar, dirigir y ejecutar la demolición de obras de Arquitectura.</li>
        </ul>
        <ul>
          <li>Realizar estudios, proyectar y dirigir la ejecución de las obras destinadas a la concreción del paisaje.</li>
        </ul>
        <ul>
          <li>Efectuar la planificación arquitectónica y urbanística de los espacios destinados a asentamientos humanos.</li>
        </ul>
        <ul>
          <li>Proyectar parcelamientosdestinados al hábitat humano.</li>
        </ul>
        <ul>
          <li>Realizar medición y nivelación de parcelas con el objeto de concretar la ejecución de las obras de arquitectura.</li>
        </ul>
        <ul>
          <li>Realizar estudios e investigaciones referidos al ordenamiento y planificación de los espacios que conforman el hábitat, y a los problemas relativos al diseño, proyecto y ejecución de obras de arquitectura.</li>
        </ul>
        <ul>
          <li>Asesorar en lo concerniente al ordenamiento y planificación de los espacios que conforman el hábitat y a los problemas relativos al al diseño, proyecto y ejecución de obras de arquitectura.</li>
        </ul>
        <ul>
          <li>Participar en planes, programas y proyectos de ordenamientofísico ambiental del territorio y de ocupación del espacio urbano y rural.</li>
        </ul>
        <ul>
          <li>Participar en la elaboración de normas legales relativas al ordenamiento y planificación de los espacios que conforman el hábitat humano.</li>
        </ul>
        <ul>
          <li>Participar en la elaboración de planes, programas y proyectos que no siendo de su especialidad afecten el hábitat humano.</li>
        </ul>
        <ul>
          <li>Realizar relevamientos, tasaciones y valuaciones de bienes inmuebles.</li>
        </ul>
        <ul>
          <li>Realizar peritajes, arbitrajes, tasaciones y valuaciones relacionadas con el ordenamiento y planificación de los espacios que conforman el hábitat y con los problemas relativos al diseño, proyecto y ejecución de obras de arquitectura.</li>
        </ul>
        <ul>
          <li>Proyectar, ejecutar, dirigir y evaluar todo lo concerniente a la higiene y seguridad en obras de arquitectura.</li>
        </ul>
      </div>
      <div>
        <strong>&nbsp;</strong>
      </div>
      <div>
        <strong>&nbsp;</strong>
      </div>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>Perfil del Arquitecto</u>
          </strong>
        </span>
      </h4>
      <div>&nbsp;</div>
      <div>La currícula ha sido estructurada de modo tal que el arquitecto se forme desde las precisiones que faciliten la creatividad y el ejercicio investigativo asistidos por la herramientas informáticas, como recurso o medio para expresarla, desarrollando
        específicamente respuestas técnicas en correlato a las condicionantes del medio y las posibilidades de las tecnologías apropiadas, energías no convencionales y el diseño sustentable, habilitado consecuentemente su capacidad para una reformulación
        de tipologías arquitectónicas y urbanas.</div>
      <div>&nbsp;</div>
      <div>En dicho sentido, la formación cognoscitiva está orientada como instancia superadora de la tradición enciclopedista y fragmantaria de compartimientos estancos mediante el análisis crítico del dato técnico como del hecho histórico.</div>
      <div>&nbsp;</div>
      <div>Así, se intenta promover aprendizajes que permitan el accionar de saberes tales como:</div>
      <div>
        <ul>
          <li>Conocimiento histórico y crítico de la vinculación entre el espacio humanos y las condiciones naturales, culturales y sociales que lo contextualizan.</li>
        </ul>
        <ul>
          <li>Conocimiento teórico sobre la evolución del fenómeno urbano, las habilidades prácticas y metodológicas para formular estrategias de intervención de los problemas de estructura urbana y su desarrollo.</li>
        </ul>
        <ul>
          <li>Conocimientos técnicos para la normalización de estrategias de intervención en el desarrollo urbano.</li>
        </ul>
        <ul>
          <li>Conocimiento teórico metedológico e instrumental del diseño de las soluciones físico espaciales emergentes del hecho urbano.</li>
        </ul>
        <ul>
          <li>Conocimiento teórico, práctico, metodológico e instrumental para enfrentar las problemáticas atinentes a los distintos entornosdel hábitat y su equipamiento.</li>
        </ul>
        <ul>
          <li>Conocimiento teórico, práctico, metodológico e instrumental para integrar a las soluciones erquitectónicas, sentido de espacio, escala, tiempo y estética, compatibles con las funciones, modo de vida y condiciones del medio natural.</li>
        </ul>
        <ul>
          <li>Concepción de la forma como un organismo sustentable con respuesta técnica y estructural en correspondencia con ella.</li>
        </ul>
        <ul>
          <li>Contribución mediante soluciones apropiadas, a la conservación y mejoramiento del espacio natural y cultural.</li>
        </ul>
        <ul>
          <li>Conocimiento teórico y práctico del sustento estructural de la forma.</li>
        </ul>
        <ul>
          <li>Conocimiento teórico y práctico de los servicios e instalaciones del objeto arquitectónico.</li>
        </ul>
        <ul>
          <li>Entrenamiento en el replanteo y relevamiento del predio.</li>
        </ul>
        <ul>
          <li>Conocimiento del cómputo de obra, de la organización de la misma, de sus procesos y de la legislación correspondiente.</li>
        </ul>
        <ul>
          <li>Conocimiento teórico y práctico de la representación gráfica tridimencional aplicando metodologías tradicionales e informatizadas.</li>
        </ul>
        <ul>
          <li>Conocimiento teórico y práctico de la programación, ordenamiento e instrumentación asistidos del proceso de obra.</li>
        </ul>
        <ul>
          <li>Capacidad de inserción profesional en equipos interdisciplinarios.</li>
        </ul>
        <ul>
          <li>Valoración ética del rol y la práctica profesional.</li>
        </ul>
      </div>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>Plan de Estudios de Arquitectura</strong>
        </span>
      </h4>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/wjQBHegpSwitoeHeQE5k_Arquitectura.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>