<ion-view title="Plan de Tec. Electro-Electrónica" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 403/10</span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff0000;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">
          <u>Perfil del Graduado:</u>
        </span>
      </h4>
      <p>&nbsp;</p>
      <p>El Técnico Electro-Electrónico está capacitado para colaborar en el&nbsp;diseño de nuevas instalaciones eléctricas (potencia, control de datos,&nbsp;comunicaciones y alarmas), domiciliarias, comerciales y de pequeñas y&nbsp;medianas industrias hasta
        50 KW, de acuerdo a la reglamentación de AEA&nbsp;(Asociación Electrotécnica Argentina). Además, podrá desempeñarse en&nbsp;industrias en el área de mantenimiento eléctrico, colaborando con el&nbsp;diagnóstico y reparación de fallas en equipos
        electro-electrónicos,&nbsp;máquinas industriales e instalaciones eléctricas, siempre bajo la supervisión&nbsp;de profesionales afines.&nbsp;</p>
      <p>En el área comercial, el Técnico Electro-Electrónico colabora en la&nbsp;representación y venta técnica de equipamiento eléctrico y electrónico&nbsp;variado.&nbsp;</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <u>Alcance del Título:</u>
        </span>
      </h4>
      <p>&nbsp;</p>
      <p>El Título de Técnico en Electro-Electrónica, capacita y habilita para:</p>
      <ul>
        <li>Colaborar en el diseño de nuevas instalaciones eléctricas (potencia,&nbsp;control de datos, comunicaciones y alarmas), domiciliarias, comerciales y&nbsp;de pequeñas y medianas industrias hasta 50 KW.&nbsp;</li>
        <li>Participar en la realización de gestiones para la habilitación de&nbsp;instalaciones nuevas o la implicación de instalaciones existentes.&nbsp;</li>
        <li>Realizar de tareas de reparación de sistemas de iluminación para interior y&nbsp;exterior.&nbsp;</li>
        <li>Trabajar en estrecha relación con estudios de arquitectura e ingeniería,&nbsp;brindando servicios de instalación calificada en obra y participar en el&nbsp;asesoramiento técnico sobre accesorios y tecnologías disponibles en la&nbsp;etapa de formulación
          de proyectos en electro electrónica.&nbsp;</li>
        <li>Colaborar con la implementación de instalaciones de cableado&nbsp;estructurado.&nbsp;</li>
        <li>Ejecutar instalaciones de audio y de vídeo.</li>
        <li>Colaborar con la programación e instalación de controladores lógicos&nbsp;programables (PLCs).</li>
        <li>Colaborar con la realización de informes en el marco de lo establecido en&nbsp;disposiciones reglamentarias en materia de seguridad de instalaciones&nbsp;edilicias, especialmente las relativas a seguridad personal y prevención&nbsp;contra propagación
          de humo y llamas.&nbsp;</li>
        <li>Interactuar con profesionales de otras áreas afines (arquitectura,&nbsp;ingeniería e informática), para instalar sistemas electrónicos y accesorios,&nbsp;integrar dispositivos con interfaces de electrónica de potencia, instalar y&nbsp;programar
          centrales telefónicas y proyectar e instalar sistemas electrónicos&nbsp;de seguridad, siempre bajo la supervisión de profesionales afines.&nbsp;</li>
        <li>Interactuar en el sector comercial, colaborando con la representación y&nbsp;venta técnica de equipamiento eléctrico y accesorios con contenidos&nbsp;electrónico variado.</li>
      </ul>
      <h3>&nbsp;</h3>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>Plan de Estudios</u>
          </strong>
        </span>
      </h4>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/0XtAbwmoRICKwioT1d9g_Tecnicatura-en-Electro-Electrnica.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>