<ion-view title="Plan Ing. Agroindustrial" id="page9">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <strong>Ordenanza Nº 349/08</strong>
        </span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff0000;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff0000;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">La carrera Ingeniería Agro-Industrial que se dicta en la Universidad Nacional de La Rioja, se caracteriza por:</span>
      </h4>
      <ul>
        <li>Poseer un destacado prestigio de casi 40 AÑOS formando profesionales agroindustriales y con alrededor de 35 cohortes de graduados introducidos exitosamente en el ámbito profesional, desempeñando importantes cargos jerárquicos en la parte pública
          y privada.</li>
        <li>Presentar un adecuado plantel docente y con nivel de formación en crecimiento.</li>
        <li>Contar con la existencia de un Parque Tecnológico en la UNLaR-Sede Capital, creado en base a la carrera Ingeniería Agro-Industrial, como espacio de aplicación teórico- práctico para complementar la formación profesional del estudiante de la carrera.</li>
        <li>Disponer de Unidades Didáctico-Productivas en UNLaR – Sede Capital; Sede Catuna y Sede Villa Unión, a saber:</li>
      </ul>
      <ul>
        <li>“Vivero olivícola con amplia variedades de olivo, para la provisión de materia
          <br>prima” (inaugurado en el año 1956)-Sede Capital</li>
        <li>“Planta piloto para producción e investigación sobre el Aceite de Oliva”.
          <br>(inaugurado el 4 de junio de 1993)-Sede Capital.</li>
        <li>“Laboratorio de investigación de componentes aromáticos en vegetales” – Sede
          <br>Capital.</li>
        <li>Unidad Didáctico-Productiva “Fábrica de Dulces”(inaugurada el 30 de diciembre de
          <br>2004)-Sede Capital.</li>
        <li>Planta para procesamiento de Agua de Mesa- Sede Capital.</li>
        <li>Fábrica de Aceite de Oliva y de Aceitunas de mesa – Sede Catuna.</li>
        <li>Proyecto Apícola Modelo-Sala de Extracción de Miel- Sede Catuna.</li>
        <li>Bodega Modelo – Sede Villa Unión.</li>
      </ul>
      <ul>
        <li>Poseer PREMIOS NACIONALES otorgados a los productos agroindustriales elaborados en el Parque Tecnológico de la UNLaR
          <ul>
            <li>Premio “Balseiro” (Buenos Aires, 1997).</li>
            <li>Premio “El Gauchito” (Resistencia-Chaco, 2002).</li>
            <li>Mención de Honor en el Premio del Banco Francés al Tecnoemprendedor (Buenos Aires, 2001).</li>
            <li>Premio “Olivo de Oro” en la Categoría Blend “Cuyoliva 2009” (Mendoza, 4 de setiembre de 2009).</li>
            <li>Premio “Olivo de Oro” en la Categoría Blend “Cuyoliva 2010 (Mendoza 30 de setiembre de 2010).</li>
            <li>Premio Universidad 2010 (La Rioja, UNLaR 6 de octubre de 2010).</li>
            <li>Premio “Olivo de Oro”,Cuyoliva 2011 Categoría Varietal Arauco- Sede Capital, en Mendoza, Octubre 2011.</li>
            <li>Premio “Olivo de Plata”, Cuyoliva 2011 Categoría Blend-Sede Capital, en Mendoza, octubre 2011.</li>
            <li>Premio “Olivo de Oro”, Cuyoliva 2011 Categoría Blend-Delegación Catuna, en Mendoza, octubre 2011.</li>
            <li>Premio Destacado 2011- UNLaR en Reconocimiento a los productos elaborados en la Fábrica de Aceites de Oliva Solar, otorgado por el Gobierno de la Provincia de La Rioja, en diciembre de 2011.</li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>Contar con un Instituto Superior de Investigación con 22 años de funcionamiento, el Instituto de Tecnología Agroindustrial, participando activamente en la comunidad científica a través de proyectos de investigación financiados y ejecutados por
          docentes investigadores que participan del programa de incentivos (Decreto Ministerial 2427/93).</li>
      </ul>
      <h3>&nbsp;</h3>
      <h4>
        <span style="color: #ff6600;">Objetivos Generales de la carrera de Ingeniería Agro-Industrial</span>
      </h4>
      <p>La carrera de Ingeniería Agro-Industrial tiene como objetivo fundamental formar profesionales integrales, para que se desempeñen con competencia y con pertinencia mediante sus capacidades humanas, científicas y técnicas y contribuyan al desarrollo
        sostenible de la agroindustria.</p>
      <h3>&nbsp;</h3>
      <h4>
        <span style="color: #ff6600;">Objetivos de la Carrera</span>
      </h4>
      <p>En la carrera de Ingeniería Agro-Industrial se procurará que el futuro graduado:</p>
      <ul>
        <li>Actúe con sentido crítico en la problemática de los sistemas productivos y procure respuestas originales.</li>
        <li>Disponga de la suficiente información teórica y formación práctica que le permita iniciarse en sus actividades profesionales con idoneidad y disposición de capacitación permanente.</li>
        <li>Posea los suficientes recursos técnicos y metodológicos que lo habiliten a participar y conducir tareas de su especialidad.</li>
      </ul>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">Perfil del graduado</span>
      </h4>
      <p>El Ingeniero Agro-Industrial es un profesional de la ingeniería qué, por su formación, tiene la capacidad de planificar, implementar, desarrollar, analizar y optimizar el campo tecnológico en toda sus perspectiva, con el fin de aprovechar la producción
        primaria y los recursos naturales, provenientes del sector agrícola, pecuario, forestal, etc., generando productos alimentarios y no
        <br>alimentarios, así como la infraestructura en la que se sustenta dichas actividades, ejerciendo su responsabilidad en los aspectos técnicos y económicos, como su inserción en el entorno social, cultural y ambiental donde se desempeñe mediante el
        compromiso de su formación continua y permanente.</p>
      <p>
        <strong>Título que se otorga</strong>: Ingeniero Agro-Industrial</p>
      <p>
        <strong>Duración de la carrera</strong>: 5 año (cinco)</p>
      <p>
        <strong>Cantidad de asignatura</strong>s: 43 más una Práctica Profesional Supervisada y un Trabajo Final</p>
      <p>
        <strong>Horas Académicas</strong>: 4499</p>
      <p>
        <strong>Modalidad de ingreso</strong>: Curso de ingreso</p>
      <p>
        <strong>Modalidad de cursado</strong>: Presencial. Existe entre las materias las correlatividades, de tal forma que, para inscribirse a cursar el alumno debe tener regularizada o aprobada la asignatura correlativa correspondiente.</p>
      <p>El proceso de enseñanza–aprendizaje de cada asignatura constituirá una unidad con la participación activa del estudiante, en donde el dictado será teórico–práctico.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">Modo de Evaluación:</span>
      </h4>
      <p>Todas las cátedras, tienen examen final oral y/o escrito.</p>
      <p>Para inscribirse a rendir examen final, el alumno debe tener aprobada la correlativa correspondiente.</p>
      <p>Para aprobar la&nbsp;
        <strong>Práctica Profesional Supervisada</strong>, el estudiante debe acreditar un tiempo mínimo de doscientas (264) horas de práctica profesional supervisada, en sectores productivos y/o de servicios, o bien en proyectos concretos desarrollados por la
        Universidad para dichos sectores o en cooperación con ellos.</p>
      <p>Para el&nbsp;
        <strong>Trabajo Final de Carrera</strong>&nbsp;el estudiante, debe acreditar 200 horas mínima para llevar a cabo un Proyecto de Ingeniería o una Mejora de un Proceso Productivo, en ambos casos deberá actuar dirigido por un Asesor de Trabajo Final, que
        podrá ser un Docente de la Institución o un Profesional externo, previamente designado por el Consejo Directivo del D. A. C. y T. A. I. A. y U., a propuesta del Director de la carrera.</p>
      <div>
        <p>&nbsp;</p>
        <h4>
          <span style="color: #ff6600;">
            <strong>
              <u>Plan de Estudios de&nbsp;Ingeniería en Agro-Industrial</u>
            </strong>
          </span>
        </h4>
      </div>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/1R4j4KFjTN2TUOxNeRhv_Ing.-Agro-industrial1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/qpvgbRTJa5CWvqnayZTA_Ing.-Agro-industrial2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>