<ion-view title="Plan de Ing. en Alimentos" id="page10">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 338/07</span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff0000;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff0000;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Perfil Profesional</span>
      </h4>
      <p>La Carrera Ingeniería en Alimentos, tiene por objetivo la formación de&nbsp;profesionales universitarios responsables del diseño, industrialización y&nbsp;manipulación de alimentos, potenciando sus características naturales y&nbsp;adecuándolos a
        los requerimientos de un mercado dinámico a partir de la&nbsp;materia prima de origen agropecuario, sobre la base de nuevos marcos&nbsp;regulatorios que fijan patrones y estándares de calidad cada vez más&nbsp;exigentes.</p>
      <p>En particular, la Provincia de la Rioja y la Región donde ésta se inserta,&nbsp;constituye un ámbito donde se producen diversos alimentos, cuya presencia&nbsp;en el mercado nacional e internacional ha crecido en los últimos años.</p>
      <p>Así, se destaca la Industria del Aceite de Oliva (que registró exportaciones&nbsp;en la Provincia por cuatro millones de dólares *) la de Aceitunas en&nbsp;Conserva (con exportaciones registradas por catorce millones de dólares*)&nbsp;y en igual
        alcance la elaboración de Vinos (con exportaciones por seis&nbsp;millones de dólares*).</p>
      <p>(*)Fuente: Secretaría de Agricultura, Ganadería, Pesca y Alimentos de la&nbsp;Nación – Año 2005.</p>
      <p>Por su parte, aunque en menor medida, existe la Producción de Frutales de&nbsp;diversas variedades, sirviendo como base para la Industria de los Dulces,&nbsp;Jaleas,&nbsp;</p>
      <p>Mermeladas; la Producción de Miel y sus derivados (Jalea real, polen, cera,&nbsp;etc.); como también la Industria Nogalera y la Industria Cárnica y Láctea&nbsp;(especialmente bovina y caprina), junto con todas sus producciones&nbsp;derivadas.</p>
      <p>El Título que se confiere, acredita la formación de profesionales con un&nbsp;sólido currículum ingenieril, relacionado con la planificación, proyección,&nbsp;cálculo y control de las instalaciones, maquinarias e instrumentos que&nbsp;integren el
        proceso productivo de la industria alimentaria, sin incluir lo&nbsp;relativo a la Obra Civil.</p>
      <div>
        <div>Para ello, la UNLaR cuenta con un Parque Tecnológico, cuyas&nbsp;características son únicas en el País, donde se realizan actividades&nbsp;Didáctico-Productivas a escala piloto en las líneas de preparación de aceite&nbsp;de oliva, aceitunas en
          conserva, aceites esenciales, miel, dulces, jaleas,&nbsp;mermeladas, etc. Todo ello, le permitirá adquirir al egresado destrezas&nbsp;profesionales altamente competitivas y acordes a los estándares fijados.</div>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <p>La formación del Graduado contemplará tanto los intereses&nbsp;científicos como los sociales. Aptitudes tales como habilidad lógico-matemática, la capacidad de análisis, talento para establecer relaciones&nbsp;interpersonales y vocación para aceptar
        el desafío de afrontar problemas y&nbsp;situaciones nuevas en los sistemas productivos, estableciendo las&nbsp;alternativas de solución.&nbsp;</p>
      <p>Dada la aceleración en el cambio y transformaciones tecnológicas de&nbsp;nuestro medio, hay un consenso generalizado en que los docentes deben&nbsp;poner más énfasis en que los alumnos comprendan las técnicas que están&nbsp;aprendiendo y no sólo
        conocer su aplicación y detalles tecnológicos, de&nbsp;modo que el graduado sepa buscar y aplicar la información que le será&nbsp;necesaria para la toma de decisiones en su actividad profesional.</p>
      <p>&nbsp;</p>
      <div>
        <h4>
          <span style="color: #ff6600;">
            <u>Plan de Estudios de Estudios</u>
          </span>
        </h4>
      </div>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/JBfcDDInQyKXVTuT4pqr_Ing.-en-Alimentos1-1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/heNNhlnPSWeikbIOwC1u_Ing.-en-Alimentos2-1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>