<ion-view title="Plan de Geología" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>Ordenanza Nº 451/11</strong>
        </span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff0000;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff0000;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>Alcances del Título</u>
          </strong>
        </span>
      </h4>
      <p>
        <strong>&nbsp;</strong>
      </p>
      <p>Las actividades profesionales reservadas al título de Geólogo, según el&nbsp;Anexo V de la Resolución N° 1412/08 del Ministerio de Educación, son las&nbsp;siguientes:&nbsp;</p>
      <div>
        <ol>
          <li>Planificar, dirigir, evaluar y efectuar estudios destinados a&nbsp;determinar la estructura, composición y génesis de minerales, rocas,&nbsp;y suelos.</li>
          <li>Planificar, dirigir, coordinar, supervisar, evaluar y efectuar&nbsp;estudios sobre la determinación de génesis, evolución, estructura,&nbsp;composición físico-química y dinámica interna y externa de la Tierra&nbsp;y demás cuerpos celestes.</li>
          <li>Dirigir, evaluar y efectuar estudios tecnológicos de minerales,&nbsp;rocas, áridos y gemas.</li>
          <li>Planificar, dirigir, coordinar, supervisar, evaluar y efectuar&nbsp;estudios estratigráficos, paleontológicos, geocronológicos,&nbsp;geomorfológicos, geoquímicos, geotectónicos, sismológicos y&nbsp;paleosismológicos, vo1canológicos, glaciológicos
            en ambientes&nbsp;continentales y marinos.</li>
          <li>Planificar, dirigir, supervisar, evaluar y efectuar estudios para&nbsp;determinar áreas de riesgo geológico, naturales y antropogénicos,&nbsp;elaborar propuestas de prevención, mitigación y efectuar su control.</li>
          <li>Planificar, dirigir, coordinar, supervisar, evaluar y desarrollar&nbsp;estudios de emplazamientos y estudios geotécnicos de macizos&nbsp;rocosos y suelos, efectuar su caracterización y acondicionamiento&nbsp;para la fundación de obras de ingeniería
            y de arquitectura,&nbsp;superficiales y subterráneas, y realizar el control geológico de las&nbsp;mismas durante su desarrollo y posterior operación.</li>
          <li>Planificar, dirigir, supervisar, evaluar y efectuar estudios sobre&nbsp;movimiento de suelos y rocas y realizar el control geológico durante&nbsp;la ejecución de los trabajos.</li>
          <li>Planificar, dirigir, coordinar, supervisar y efectuar prospección,&nbsp;exploración, evaluación y cuantificación de minerales, rocas y&nbsp;yacimientos sólidos, líquidos y gaseosos.</li>
          <li>Establecer y/o acreditar las categorías y cuantificar reservas de&nbsp;recursos geológicos renovables y no renovables.</li>
          <li>Dirigir, supervisar y efectuar reconocimientos geológicos,&nbsp;ubicación, delimitación y representación gráfica de las concesiones,&nbsp;pertenencias y/o propiedades mineras.</li>
          <li>Planificar, dirigir y supervisar la explotación de yacimientos de&nbsp;minerales y rocas, efectuar el control geológico y participar del&nbsp;tratamiento y beneficio de los mismos.</li>
          <li>Efectuar estudios geológicos integrales de cuencas hídricas y&nbsp;participar en la planificación y evaluación de su ordenamiento y&nbsp;sistematización.</li>
          <li>Planificar, dirigir, coordinar, supervisar, evaluar y ejecutar la&nbsp;prospección, la exploración, y el manejo de los recursos hídricos&nbsp;subterráneos y superficiales, y geotérmicos y efectuar el control&nbsp;geológico de su evolución.</li>
          <li>Participar en el planeamiento, supervisión y evaluación de la&nbsp;explotación de recursos hídricos subterráneos y superficiales, y&nbsp;geotérmicos.</li>
          <li>Planificar, ubicar, dirigir, supervisar, interpretar estudios y&nbsp;técnicas auxiliares, evaluar, efectuar y representar gráficamente&nbsp;perforaciones de investigación, exploración y de explotación con&nbsp;fines hidrogeológicos, mineros,
            geotérmicos y geotécnicos.</li>
          <li>Planificar, ubicar, dirigir, supervisar y evaluar perforaciones de&nbsp;exploración vinculadas a hidrocarburos, participar en la&nbsp;planificación, supervisión y ejecución de la explotación del&nbsp;yacimiento, y realizar el control geológico
            en las distintas etapas.</li>
          <li>Elaborar y aplicar sistemas de clasificación y tipificación&nbsp;científica y tecnológica de minerales, rocas, suelos yaguas, y&nbsp;asesorar en la utilización de los mismos.</li>
          <li>Planificar, dirigir, supervisar estudios de la evolución,&nbsp;degradación y erosión de suelos, y efectuar el reconocimiento, la&nbsp;clasificación, el inventario y la cartografía de los mismos.</li>
          <li>Participar en la elaboración y ejecución de planes y programas de&nbsp;conservación, mejoramiento y recuperación de suelos y habilitación&nbsp;de tierras.</li>
          <li>Identificar, estudiar y evaluar las características de la Plataforma&nbsp;continental sobre la base de referencias geológicas, y participar en el&nbsp;planeamiento y ejecución de estudios y proyectos oceanográficos.</li>
          <li>Planificar, dirigir, supervisar y efectuar levantamientos y carteos&nbsp;topográfico-geológicos de superficie y subterráneos, estudios&nbsp;fotogeológicos e interpretación visual y digital de imágenes&nbsp;obtenidas por teledetección.</li>
          <li>Planificar, dirigir, evaluar y efectuar estudios destinados al&nbsp;manejo, procesamiento, aprovechamiento y conservación de la&nbsp;información geológica, incluyendo bases de datos y Sistemas de&nbsp;Información Geográfica.</li>
          <li>Planificar, participar, dirigir, evaluar y realizar estudios de&nbsp;impacto, gestión, restauración, rehabilitación, recomposición y&nbsp;mitigación ambientales y efectuar auditorías.</li>
          <li>Planificar y realizar estudios de emplazamiento geológicos para&nbsp;repositorios, superficiales y profundos, de residuos sólidos y&nbsp;efluentes urbanos, industriales, peligrosos, y nucleares de baja,&nbsp;media y alta actividad. Participar
            en las obras relacionadas.</li>
          <li>Planificar, efectuar, asesorar y supervisar la higiene y seguridad&nbsp;vinculada con la actividad geológica.</li>
          <li>Participar en el planeamiento y ejecución de estudios y proyectos&nbsp;de ordenamiento territorial e intervenir en la fijación de limites&nbsp;jurisdiccionales.</li>
          <li>Asesorar acerca del aprovechamiento de los recursos geológicos&nbsp;para la formulación de políticas, normas, planes y programas de&nbsp;desarrollo.</li>
          <li>Efectuar y controlar valuaciones y tasaciones de recursos&nbsp;geológicos y de las alteraciones causadas a los mismos.</li>
          <li>Realizar estudios, consultas, asesoramientos, auditorías,&nbsp;inspecciones, arbitrajes, pericias e interpretaciones en temas de su&nbsp;competencia en ámbitos públicos y privados.</li>
          <li>Intervenir en la preparación, actualización y redacción de&nbsp;códigos, reglamentos, normas y estándares de calidad, y de todo otro&nbsp;texto o disposición legal relacionada con la actividad geológica.</li>
          <li>Participar en la corrección, certificación, y edición de material&nbsp;didáctico y pedagógico vinculado con la geología.</li>
          <li>Realizar estudios, asesoramientos, pericias e interpretaciones en&nbsp;geología forense y geología médica.</li>
          <li>Participar en la confección y monitoreo de licitaciones y pliegos&nbsp;técnicos.</li>
          <li>Participar en la confección, monitoreo y evaluación de proyectos&nbsp;de inversión.</li>
          <li>Desempeñar la docencia en todos los niveles de enseñanza de&nbsp;acuerdo a las disposiciones vigentes y capacitar recursos humanos en&nbsp;las distintas temáticas geológicas.</li>
          <li>Planificar, realizar y dirigir programas y tareas de investigación y&nbsp;desarrollo en temas geológicos.</li>
          <li>Dirigir, participar, supervisar, evaluar y efectuar estudios sobre&nbsp;conservación y restauración de materiales pétreos del patrimonio&nbsp;cultural, arquitectónico y monumental.</li>
          <li>Efectuar, participar, supervisar, dirigir, asesorar y evaluar&nbsp;cuestiones relativas a la definición, manejo y preservación de sitios&nbsp;de interés geológico, paleontológico, espeleológico, paisajístico y&nbsp;turístico.</li>
          <li>Investigar, desarrollar, participar y efectuar control de materiales&nbsp;geológicos aplicados a la industria, construcción, minería,&nbsp;agricultura, medio ambiente y servicios.</li>
          <li>Certificar el material geológico y paleontológico en operaciones&nbsp;de importación.&nbsp;</li>
        </ol>
        <p>
          <strong>&nbsp;</strong>
        </p>
        <h4>
          <span style="color: #ff6600;">
            <strong>
              <u>Plan de Estudios de Geología</u>
            </strong>
          </span>
        </h4>
      </div>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/GSOpazlJTXmlI0IlQmcG_Geologia1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/mUEyTGcuQEWMVeQpYBcF_Geologia2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>