<ion-view title="Protocolo de Violencia de Genero" id="page38">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <span style="color: #ff6600;">
          <strong>Protocolo de Violencia de Genero</strong>
        </span>
      </p>
      <p>El protocolo de Intervención Institucional, ante situaciones de violencia de genero en el ámbito de la UNLaR, rige para todas las relaciones laborales y/o educativas. (Aprobado por Ordenanza del Consejo Superior N° 77/2016).</p>
      <p>Para consultas y denuncias comunicate al correo:&nbsp;
        <span id="cloak294d3ba3451b0cddcca332f68c6b6d6a">
          <a href="mailto:protocologenerounlar@gmail.com" target="_blank" rel="noopener">protocologenerounlar@gmail.com</a>
        </span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <a href-inappbrowser="https://drive.google.com/file/d/1EgjgOCPQZYF05tgNt4s__7G1m9peaLwN/view?usp=sharing" id="protocoloDeViolenciaDeGenero-button13" class="button button-energized button-block">Protocolo de Violencia de Genero</a>
  </ion-content>
</ion-view>