<ion-view title="Proyectos de Extensión" id="page25">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <span style="color: #ff6600;">
          <strong>Proyectos de Extensión para Graduados</strong>
        </span>
      </p>
      <p>Los graduados pueden ser extensionistas, es decir que pueden armar, presentar y dirigir proyectos de vinculación con la comunidad y de participación social.&nbsp;La UNLaR&nbsp;es la primera Universidad en la que los Graduados pueden estar a cargo
        de Programas de Extensión.</p>
      <p>Los Proyectos de Extensión se deberán ejecutar coordinadamente con&nbsp; una&nbsp; o&nbsp; más&nbsp; Organización/es,&nbsp; del&nbsp; gobierno&nbsp; nacional,&nbsp; provincial&nbsp; y&nbsp; municipal,&nbsp; y&nbsp; de&nbsp; la&nbsp; sociedad&nbsp;
        civil&nbsp; legalmente&nbsp; constituida.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Ordenanza del&nbsp;Reglamento de proyectos de extensión</strong>
        </span>
      </p>
    </div>
    <a href-inappbrowser="https://drive.google.com/file/d/1L55hsVCNG_tsn5A4Ad_vHhgFXWeRNj7k/view?usp=sharing" id="proyectosDeExtensiN-button1" class="button button-energized button-block">Reglamento de Proyectos</a>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/NcnsX2omRP2B3rqLntnM_BarraFinal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>