<ion-view title="Red de Trabajo" id="page27">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Con el objetivo de apuntalar a graduados y estudiantes avanzados en materia de inserción laboral, la iniciativa incluye pasantías rentadas y un programa de inclusión laboral, vinculando a los jóvenes profesionales con aquellas empresas que requieran
        cubrir vacantes en sus respectivas áreas de trabajo.</p>
      <hr>
      <p>
        <span style="color: #ff6600;">&nbsp;
          <strong>¿Quiénes pueden postularse?</strong>
        </span>
      </p>
      <p>Graduados de hasta 3&nbsp;años de haberse recibido y estudiantes avanzados que no adeuden más de 4 materias para recibirse.</p>
      <hr>
      <p>
        <span style="color: #ff6600;">
          <strong>¿Cuáles son los requisitos?</strong>
        </span>
      </p>
      <p>► No estar trabajando de manera formal con un ingreso mayor al mínimo vital y móvil.</p>
      <p>► No ser beneficiario de otro programa de becas estatales.</p>
      <p>► Tener hasta 35 años de edad.</p>
      <p>► Ser argentino o naturalizado con DNI.</p>
      <hr>
      <p>
        <span style="color: #ff6600;">
          <strong>¿Cómo Gestionar la documentación?</strong>
        </span>
      </p>
      <p>Deberá registrarse en reddetrabajo.unlar.edu.ar y completar el formulario, imprimirlo y presentarlo en la Subsecretaría de Graduados (Mód. 1 Pta. Alta) junto con copia del DNI, certificado negativa de Anses e historial académico en el caso de alumno,
        o copia de título en caso de graduado.</p>
      <hr>
      <p>
        <span style="color: #ff6600;">
          <strong>¿Cómo serán seleccionados?</strong>
        </span>
      </p>
      <p>Los empleadores o empresas postuladas elegirán a los pasantes a cubrir el cargo basado en las necesidades siguiendo los perfiles presentados, buscando así lograr que queden de manera efectiva al término de la pasantía.</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Desde aquí podes ingresar a la&nbsp;Red de Trabajo</span>
        </strong>
      </p>
    </div>
    <a href-inappbrowser="https://reddetrabajo.unlar.edu.ar/" id="redDeTrabajo-button41" class="button button-energized button-block">Red de Trabajo</a>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/qTuYFFMXT2uOgaVEt7DW_BarraFinal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>