<ion-view title="Reglamentos" id="page55">
  <ion-content padding="true" class="has-header">
    <p>Desde aquí podes acceder a los reglamentos de la UNLaR, es importante que puedas conocer tus derechos y obligaciones, si tenes alguna problemática o una duda, consúltanos, estamos dispuestos para darte una mano.</p>
    <ion-list id="reglamentos-list14">
      <ion-item class="item-icon-left dark" id="reglamentos-list-item76" ui-sref="iNGEOTECUNLaR.reglamentoDeAlumnos()">
        <i class="icon ion-document-text"></i>Reglamento de Alumnos</ion-item>
      <ion-item class="item-icon-left dark" id="reglamentos-list-item77" ui-sref="iNGEOTECUNLaR.protocoloDeViolenciaDeGenero()">
        <i class="icon ion-document-text"></i>Protocolo de Violencia de Genero</ion-item>
      <ion-item class="item-icon-left dark" id="reglamentos-list-item78" ui-sref="iNGEOTECUNLaR.estatutoUniversitario()">
        <i class="icon ion-document-text"></i>Estatuto Universitario</ion-item>
      <ion-item class="item-icon-left dark" id="reglamentos-list-item79" ui-sref="iNGEOTECUNLaR.becasDeIncentivoAcadMico()">
        <i class="icon ion-document-text"></i>Becas de Incentivo Académico</ion-item>
      <ion-item class="item-icon-left dark" id="reglamentos-list-item80" ui-sref="iNGEOTECUNLaR.becasDeExperienciaLaboral()">
        <i class="icon ion-document-text"></i>Becas de Experiencia Laboral</ion-item>
      <ion-item class="item-icon-left dark" id="reglamentos-list-item81" ui-sref="iNGEOTECUNLaR.becasDeTutorAsAcadMicas()">
        <i class="icon ion-document-text"></i>Becas de Tutorías Académicas</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/konZ92aCQYOT7BzuzzG0_BarraFinal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>