<ion-view title="Reglamento de Alumnos" id="page37">
  <ion-content padding="true" class="has-header">
    <p>El
      <span style="color: #ff6600;">&nbsp;
        <strong>Reglamento de Alumnos</strong>
      </span>&nbsp;es el encuadre institucional que determina los derechos y deberes de los estudiantes de la UNLaR.</p>
    <div class="spacer" style="height: 20px;"></div>
    <a href-inappbrowser="https://drive.google.com/file/d/1SjlkaT2Eu2PQqbiACqrLGEYHLsbws0Gl/view?usp=sharing" id="reglamentoDeAlumnos-button10" class="button button-energized button-block">Reglamento de Alumnos</a>
    <div class="spacer" style="height: 20px;"></div>
    <a href-inappbrowser="https://drive.google.com/file/d/162L8MM7k_nMhJP48gKUHhMmnNZKF9e7L/view?usp=sharing" id="reglamentoDeAlumnos-button11" class="button button-energized button-block">Ord. 059: 48hs. entre parciales</a>
    <div class="spacer" style="height: 20px;"></div>
    <a href-inappbrowser="https://drive.google.com/file/d/19HT-sj4ApR39EmdicvLI-5c5rc03zl6Y/view?usp=sharing" id="reglamentoDeAlumnos-button12" class="button button-energized button-block">Ord. 066: superposición de finales</a>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>