<ion-view title="Sala de Primeros Auxilios" id="page41">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/MLN1Rfe1Sk6C4NaDHhwF_examen-psicofisico.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p class="font_7">Está destinada a la atención de estudiantes, docentes y no docentes de la UNLaR y del Colegio Preuniversitario San Martín. Ofrece tratamientos de las principales patologías y primeros auxilios: control de presión, colocación de inyectables y curación
        de heridas. Además, la sala posee un electro cardiograma para realizar exámenes psicofísicos para el área de Deportes de la UNLaR y servicio de kinesiología.</p>
      <p class="font_7">Allí se realizan también Auditorías Médicas a docentes, nodocentes y las carpetas medicas estudiantiles.</p>
      <p class="font_7">Posee una ambulancia para el traslado de pacientes a un centro de mayor complejidad.</p>
      <p class="font_7">El equipo humano está conformado por&nbsp;tres enfermeros, tres médicos y dos Lic. En kinesiología y un cardiólogo para valoración de electrocardiograma.</p>
      <p class="font_7">La sala médica “La Toma” cuenta con un botiquín del programa Remediar y con medicamentos donados por OSUNLaR y FUNLaR.</p>
      <p class="font_7">Ante cualquier accidente,&nbsp; se puede recurrir a la sala médica (ubicada en el Colegio Preuniversitario San Martín), en el horario&nbsp; de 7:00 a 21:00 hs.</p>
      <p class="font_7">Para más información comunicarse al 0380-4457028/7146 o a&nbsp;
        <a href="mailto:secextensionunlar@gmail.com" target="_blank" rel="noopener" data-content="secextensionunlar@gmail.com" data-type="mail">secextensionunlar@gmail.com</a>
      </p>
      <p>&nbsp;</p>
    </div>
  </ion-content>
</ion-view>