<ion-view title="Seguro Estudiantil" id="page36">
  <ion-content padding="true" class="has-header">
    <div>
      <p>Se trata de un servicio que brinda la Universidad Nacional de La Rioja desde el 29 de junio de 2015, para la cobertura del seguro destinado a la totalidad de los alumnos activos de esta casa de altos estudios, y el Colegio Preuniversitario General
        San Martín.</p>
      <p>Para brindar ese servicio, la UNLaR contrató a la aseguradora PROVINCIA ART S.A, para cobertura por muerte accidental, invalidez total y/o parcial por accidentes y reembolso de gastos médicos y farmacéuticos por accidentes, con un ámbito de cobertura
        mundial durante la jornada de cursado dentro de los edificios y dependencias de la universidad y durante la enseñanza practica de ejercicios físicos, juegos y los recreos, como así mismo fuera de los edificios de esta casa, durante los actos organizados
        por la misma como el caso de los viajes colectivos con finalidad pedagógica y de recreación siempre que en tales casos hayan sido organizados por las autoridades universitarias y validado por la autoridad docente competente.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>
            <span lang="ES-AR">¿Quiénes pueden acceder a este beneficio?</span>
          </strong>
        </span>
      </p>
      <p>
        <span lang="ES-AR">Por el sólo hecho de ser alumno activo de la UNLaR y del Colegio Preuniversitario San Martín, ya estás asegurado.</span>
      </p>
      <p>
        <span lang="ES-AR">El alumno activo es el alumno matriculado, regular e ingresante.</span>
      </p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>
            <span lang="ES-AR">¿Qué empresa brinda la cobertura?</span>
          </strong>
        </span>
      </p>
      <p>
        <span lang="ES-AR">Provincia Seguros</span>
        <span lang="ES-AR">&nbsp;es la empresa encargada de brindarte la cobertura en</span>
      </p>
      <ul>
        <li>
          <span lang="ES-AR">Todos los edificios de la Ciudad Universitaria, sedes y delegaciones.</span>
        </li>
        <li>
          <span lang="ES-AR">Viajes de estudios que cuenten con autorización de la universidad.</span>
        </li>
        <li>
          <span lang="ES-AR">“in itinere”</span>
          <span lang="ES-AR">, es decir, mientras te trasladas desde tu casa a la universidad y desde la universidad a tu casa.</span>
        </li>
      </ul>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>
            <span lang="ES-AR">¿En qué casos puedo contar con el beneficio?</span>
          </strong>
        </span>
      </p>
      <p>
        <span lang="ES-AR">La empresa te brinda cobertura en caso de accidente, fallecimiento, invalidez y discapacidad.</span>
      </p>
      <p>
        <span lang="ES-AR">Por ejemplo, en caso de accidente, a través de la asistencia médica y farmacéutica, te reintegrarán los gastos que tuvieras en estudios y medicamentos.</span>
      </p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>
            <span lang="ES-AR">¿Tengo que pagar algo?</span>
          </strong>
        </span>
      </p>
      <p>
        <span lang="ES-AR">El&nbsp;Seguro&nbsp;Estudiantil&nbsp;es un beneficio sin ningún tipo de costo para vos y totalmente solventado por la Universidad.</span>
      </p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>
            <span lang="ES-AR">¿Cómo puedo ver mi constancia de seguro?</span>
          </strong>
        </span>
      </p>
      <p>
        <span lang="ES-AR">Podés acceder a tu constancia de seguro ingresando al SIU Guaraní.</span>
      </p>
      <p>
        <span lang="ES-AR">Elegí la opción Certificados – Pedido de certificados – Póliza de Seguro.</span>
      </p>
      <p>
        <span lang="ES-AR">Allí encontrarás tu constancia de cobertura.</span>
      </p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>
            <span lang="ES-AR">¿Cuáles son los pasos a seguir en caso de un siniestro?</span>
          </strong>
        </span>
      </p>
      <p>
        <span lang="ES-AR">1-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span lang="ES-AR">En caso de siniestro, tenés que contactarte con la empresa para anticipar la denuncia, dentro de las 72 horas de ocurrido el hecho. El 0810-222-2444 está disponible todos los días, las 24 horas.</span>
      </p>
      <p>
        <span lang="ES-AR">2-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span lang="ES-AR">Solicita&nbsp;</span>el formulario de denuncia&nbsp;
        <span lang="ES-AR">en la oficina de la Secretaría de Asuntos Estudiantiles de la UNLaR (1° Modulo, primer piso</span>
        <span lang="ES-AR">)</span>
      </p>
      <p>
        <span lang="ES-AR">3-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span lang="ES-AR">Completalo y presentalo en las oficinas de Provincia Seguros (Saavedra 900), de Lunes a Viernes, de 9 a 19 horas.En caso de no poder hacerlo personalmente, podés enviarlo completo vía fax al 0810-222-2444</span>
      </p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>
            <span lang="ES-AR">¿Es obligatorio presentar el formulario para radicar la denuncia ante la empresa?</span>
          </strong>
        </span>
      </p>
      <p>
        <span lang="ES-AR">Sí, es obligatorio. Si no presentás el formulario no podrás iniciar el trámite.</span>
      </p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>
            <span lang="ES-AR">¿Qué necesito para identificarme como beneficiario ante la empresa?</span>
          </strong>
        </span>
      </p>
      <p>
        <span lang="ES-AR">Solamente con tu DNI la empresa ya podrá verificar que estás asegurado.</span>
      </p>
      <p>
        <span lang="ES-AR">Para mayor información, ingresá a&nbsp;</span>
        <span lang="ES-AR">
          <a href="http://www.provinciaseguros.com.ar/" target="_blank" rel="noopener">www.provinciaseguros.com.ar</a>
        </span>
        <span lang="ES-AR">&nbsp;o dirigite a la Secretaría de Asuntos Estudiantiles de la UNLaR, (Tel. 0380-4457059)</span>
      </p>
    </div>
  </ion-content>
</ion-view>