<ion-view title="SIU" id="page31">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/jdxsm5kQRhcM4U4tEaOg_siu-guarani-final.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <p>
        <strong>
          <span style="color: #ff6600;">Sistema de Autogestión de Alumnos SIU-Guaraní</span>
        </strong>, este sistema tiene como finalidad, brindar a los alumnos de la Universidad una herramienta que les permita acceder desde cualquier lugar a través de internet y realizar acciones como: inscripción a exámenes y cursadas, consultas varias, solicitud
        de certificados, actualización de datos censales, recepción de mensajes, entre otras.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Ingreso al sistema</strong>
        </span>
      </p>
      <p>Para estudiantes ingresantes, en la&nbsp;página del SIU&nbsp;deben seleccionar&nbsp;SEDE CAPITAL, luego colocar los datos de ingreso:</p>
      <p>
        <strong>Usuario</strong>: DNI (sin puntos)</p>
      <p>
        <strong>Contraseña</strong>: Unlar2015</p>
      <p>
        <strong>Para estudiantes de años anteriores deben ingresar su contraseña vigente.</strong>
      </p>
      <p>En el caso de no recordar la contraseña, esta puede recuperarse desde la opción:&nbsp;Olvidaste tu Clave? Click Aqui para Recuperarla</p>
    </div>
    <a href-inappbrowser="http://guarani.unlar.edu.ar/" id="sIU-button3" class="button button-energized button-block">Ingreso SIU Guaraní</a>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/lzVsJgtTQYWdcKI8IFTK_siu-tehuelche-final.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <p>El
        <strong>
          <span style="color: #ff6600;">SIU-Tehuelche</span>
        </strong>es un sistema web de gestión de becas universitarias de grado y posgrado, que apunta a sistematizar la gestión de las becas otorgadas por las universidades.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Ingreso al Sistema</span>
        </strong>
      </p>
      <p>Debes crear un usuario y contraseña, una vez abierta la convocatoria de Becas UNLaR para el presente año podras aplicar a ellas completandos los requerimientos solicitados.&nbsp;</p>
      <p>Si tienes problemas con el sistema puedes enviar consultas detallando&nbsp;
        <strong>Nombre Completo</strong>&nbsp;y&nbsp;
        <strong>DNI</strong>&nbsp;al correo electrónico&nbsp;
        <a href="mailto:tehuelche@unlar.edu.ar">tehuelche@unlar.edu.ar</a>
      </p>
    </div>
    <a href-inappbrowser="https://becas.unlar.edu.ar/" id="sIU-button4" class="button button-energized button-block">Ingreso SIU Tehuelche</a>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>