<ion-view title="Solicitar Mesa Especial" id="page43">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <span style="color: #ff6600;">
          <strong>Solicitar Mesa Especial</strong>
        </span>
      </p>
      <p>Debes ir a Mesa de Entradas, Edificio del rectorado – planta baja.</p>
      <p>Horarios: Lunes a viernes de 08:00 a 12:30 y 16:00 a 20:30 hs.</p>
      <p>Presentar la siguiente documentación:</p>
      <p id="sangria">
        <span style="color: #ff6600;">►</span>&nbsp;Nota de solicitud de mesa especial por duplicado, dirigida al Decano del departamento, firmada con aclaración, DNI y domicilio.</p>
      <p id="sangria">
        <span style="color: #ff6600;">►</span>&nbsp;Fotocopia de libreta 1° y 2° hoja y finales.</p>
      <p id="sangria">
        <span style="color: #ff6600;">►</span>&nbsp;Fotocopia del DNI.</p>
      <p>Debes realizar el trámite 15 días antes o 5 días después de la fecha ordinaria.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/BBXA9dVST3CebyRiugh3_BarraFinal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>