<ion-view title="Solicitar Equivalencias" id="page44">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <span style="color: #ff6600;">
          <strong>Requisitos para Equivalencias Internas</strong>
        </span>
      </p>
      <p>
        <br>* Completar Formulario N° 9
        <br>* Nota al Sr. Secretario Asuntos Académicos de Rectorado
        <br>* Fotocopia D.N.I.
        <br>* Fotocopia Libreta 1,2 Hoja y Finales
        <br>* Constancia de Inscripción (Carrera Nueva)
        <br>* Inicio del Tramite de Expediente por Mesa de Entrada (U.N.La.R.) Rectorado Planta Baja</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>Requisitos para Equivalencia Externo</strong>
        </span>
      </p>
      <p>
        <br>* Completar Formulario N° 9
        <br>* Nota al Sr. Secretario Asuntos Académicos de Rectorado
        <br>* Cancelación de Matriculas, Analítico Definitivo,&nbsp;Programas Legalizados de la Materias y Certificado de No Tener Sanciones Disciplinarias (Universidad de Origen)
        <br>* Constancia de Inscripción en la U.N.La.R
        <br>* Fotocopia D.N.I.
        <br>* Inicio del Tramite de Expediente por Mesa de Entrada (U.N.La.R.) Rectorado Planta Baja Hasta el 31 de Marzo del Presente Año.</p>
    </div>
    <a href-inappbrowser="https://drive.google.com/file/d/1L35W14rE96niE1wLrsNjTMjF703c54CG/view?usp=sharing" id="solicitarEquivalencias-button5" class="button button-energized button-block">Formulario N° 9</a>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/5kWwLUrhT8GttNPoNrFr_BarraFinal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>