<ion-view title="Trámites" id="page42" style="background-color:#FFA422;">
  <ion-content padding="true" class="has-header">
    <ion-list id="trMites-list13">
      <ion-item class="item-icon-left dark" id="trMites-list-item64" ui-sref="iNGEOTECUNLaR.solicitarMesaEspecial()">
        <i class="icon ion-android-checkbox-outline"></i>Solicitar Mesa Especial</ion-item>
      <ion-item class="item-icon-left dark" id="trMites-list-item65" ui-sref="iNGEOTECUNLaR.solicitarEquivalencias()">
        <i class="icon ion-android-checkbox-outline"></i>Solicitar Equivalencias</ion-item>
      <ion-item class="item-icon-left dark" id="trMites-list-item66" ui-sref="iNGEOTECUNLaR.cambioDePlanDeEstudios()">
        <i class="icon ion-android-checkbox-outline"></i>Cambio de Plan de Estudios</ion-item>
      <ion-item class="item-icon-left dark" id="trMites-list-item67" ui-sref="iNGEOTECUNLaR.cancelaciNDeMatrCula()">
        <i class="icon ion-android-checkbox-outline"></i>Cancelación de Matrícula</ion-item>
      <ion-item class="item-icon-left dark" id="trMites-list-item68" ui-sref="iNGEOTECUNLaR.duplicadoDeLibreta()">
        <i class="icon ion-android-checkbox-outline"></i>Duplicado de Libreta</ion-item>
      <ion-item class="item-icon-left dark" id="trMites-list-item69" ui-sref="iNGEOTECUNLaR.certificadoDeAlumnoRegular()">
        <i class="icon ion-android-checkbox-outline"></i>Certificado de Alumno Regular</ion-item>
      <ion-item class="item-icon-left dark" id="trMites-list-item70" ui-sref="iNGEOTECUNLaR.certificadoDeAlumnoInscripto()">
        <i class="icon ion-android-checkbox-outline"></i>Certificado de Alumno Inscripto</ion-item>
      <ion-item class="item-icon-left dark" id="trMites-list-item71" ui-sref="iNGEOTECUNLaR.ayudanteAlumno()">
        <i class="icon ion-android-checkbox-outline"></i>Ayudante Alumno</ion-item>
      <ion-item class="item-icon-left dark" id="trMites-list-item72" ui-sref="iNGEOTECUNLaR.corregirDatosPersonales()">
        <i class="icon ion-android-checkbox-outline"></i>Corregir Datos Personales</ion-item>
      <ion-item class="item-icon-left dark" id="trMites-list-item73" ui-sref="iNGEOTECUNLaR.trMiteDeTTulo2()">
        <i class="icon ion-android-checkbox-outline"></i>Trámite de Título</ion-item>
      <ion-item class="item-icon-left dark" id="trMites-list-item74" ui-sref="iNGEOTECUNLaR.nDeExpedienteDeMiTrMite()">
        <i class="icon ion-android-checkbox-outline"></i>N° de expediente de mi trámite</ion-item>
      <ion-item class="item-icon-left dark" id="trMites-list-item75" ui-sref="iNGEOTECUNLaR.inicioDeTrabajoFinal()">
        <i class="icon ion-android-checkbox-outline"></i>Inicio de Trabajo Final</ion-item>
    </ion-list>
    <div id="trMites-button-bar1" class="button-bar"></div>
  </ion-content>
</ion-view>