<ion-view title="Trámite de Título" id="page26">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <span style="color: #ff6600;">
          <strong>Requisitos para Graduados</strong>
        </span>
      </p>
      <p>* Completar el Formulario N° 6 por Triplicado y en Original
        <br>* 3 Fotos 4X4
        <br>* Fotocopia de D.N.I.
        <br>* Fotocopia de la Partida de Nacimientos
        <br>* Fotocopia del TITULO o ANALICO del Secundario
        <br>* Fotocopia de la libreta Universitaria
        <br>* Libre Deuda de FUNLAR
        <br>* Libre Deuda de Biblioteca</p>
      <p>• Presentar Documentación Requerida en Original y Copias por Jefatura de Despacho de Secretaria de Asuntos Académica del Rectorado (Edificio 3° - 1° Piso)</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/fgjKn52HS8q1p2W4vCQB_BarraFinal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>