<ion-view title="Tutorías Ingreso" id="page60">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        <span style="color: #ff6600;">
          <strong>Tutorías Ingreso 2019</strong>
        </span>
      </p>
      <p>Durante las 4 semanas que dura el curso de ingreso tendrán de manera opcional, para quienes las necesiten,&nbsp;tutorías los días sábado, que este año serán, los días
        <span style="color: #ff6600;">09/02
          <span style="color: #000000;">,</span> 16/2
          <span style="color: #000000;">,</span> 23/02
          <span style="color: #000000;">y</span> 02/02
          <span style="color: #000000;"> y sus horarios y aulas pueden verse en la siguiente tabla.</span>
        </span>
      </p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/UJl7oPtWTb6iWA2VKpCg_Tutorias2019.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/JdPnd4CtRm23Go5WmZ7q_BarraFinal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>