<ion-view title="Vinculación Tecnológica" id="page66">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/8qiIKKu3TNyIf4en7bDx_Becasvinculacion2019redimensionado.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>Se encuentra abierta la convocatoria las Becas de Vinculación Tecnológica. Estas becas tienen por finalidad incentivar la inserción de los estudiantes en los ámbitos académicos relacionados a la vinculación tecnológica y la transferencia científica,
        acercándolos a las Unidades Didácticos Productivas, como un ámbito propio que les permita fortalecer la formación profesional y el sentido de pertenencia para con la universidad.</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>DOCUMENTACIÓN A PRESENTAR</strong>
        </span>
      </h4>
      <p>
        <strong>
          <span style="color: #ff6600;">►</span>&nbsp;</strong>Inscripción online en&nbsp;
        <a href="https://becas.unlar.edu.ar/" target="_blank" rel="noopener noreferrer">
          <span style="color: #ff6600;">becas.unlar.edu.ar</span>
        </a>&nbsp;(hasta el 20/03).</p>
      <p>
        <span style="color: #ff6600;">
          <strong>►</strong>
        </span>&nbsp;Formulario de Solicitud de beca (en carácter de declaración jurada)</p>
      <p>&nbsp;&nbsp; anexando:</p>
      <p>
        <strong>*</strong> Fotocopia de DNI (1° y 2° hoja).</p>
      <p>
        <strong>*</strong> Constancia de alumno activo de la UNLaR, certificado por Sec. Académica.</p>
      <p>
        <strong>*</strong> Historia Académica emitida por Sec. Académica.</p>
      <p>
        <strong>*</strong> Certificación negativa de ANSES del aspirante. (
        <span style="color: #ff6600;">
          <a style="color: #ff6600;" href="https://www.anses.gob.ar/consulta/certificacion-negativa" target="_blank" rel="noopener noreferrer">https://www.anses.gob.ar/consulta/certificacion-negativa</a>
        </span>)</p>
      <p>La documentación se recibe en Subsecretaría De Vinculación Tecnológica (Parque Tecnológico de La UNLaR) hasta el 20/03.</p>
      <p>
        <strong>Horario de atención</strong>: Lunes a Viernes de 8 a 13 horas.</p>
      <p>
        <strong>Dudas y consultas:&nbsp;</strong>
        <span style="color: #ff6600;">
          <a style="color: #ff6600;" href="mailto:vinculaciontecnologicaunlar@gmail.com">vinculaciontecnologicaunlar@gmail.com</a>
        </span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <a href-inappbrowser="https://becas.unlar.edu.ar/" id="vinculaciNTecnolGica-button18" class="button button-energized button-block">Inscripción</a>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>