<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ingeotec.IngeotecUNLaR" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Ingeotec UNLaR</name>
    <description>
       INGEOTEC UNLaR es un aplicación para gestionar tu vida universitaria, con ella podes acceder a toda la información sobre el ingreso a la universidad, guía de trámites, beneficios y reglamentos entre otros contenidos. Te permite descargar los formularios que puedas necesitar y acceder a las ultimas noticias universitarias a través del acceso a nuestro sitio web y sus redes sociales. La aplicación puede ser utilizada por cualquier ingresante, estudiante o graduado de la Universidad Nacional de La Rioja; si bien hacemos hincapié principalmente en las carreras de Ciencias Aplicadas representadas por el Centro de Estudiantes INGEOTEC, la información contenida en nuestra aplicación es de uso general para cualquier carrera de nuestra universidad.
    </description>
    <author email="marcos.nieto17@gmail.com" href="http://www.ingeotec.tk/">
        Marcos Nieto
    </author>
    <content src="index.html" />
    <access origin="*" />
   	
	
	<gap:splash src="splash.png" />
<preference name="show-splash-screen-spinner" value="true" />
<preference name="SplashScreenDelay" value="5000" />    
<preference name="fullscreen" value="true" />
	
<preference name="android-minSdkVersion" value="17" />)
<preference name="android-targetSdkVersion" value="26" />)
	
	<platform name="android">
        <icon qualifier="xxxhdpi" src="Icon.png" />
        <splash qualifier="" src="Splash.png" />
   	</platform>
	
	
<gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>

<gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
	
	
	
</widget>